@using NuGetGallery;
@model SignInRequest

@{
    Layout = "~/Views/Shared/TwoColumnLayout.cshtml";
}

@section LeftNav {
    <img src="@Links.Content.Images.userGraphic_png" style="padding-left:70px" alt="Blue User" />
    <p>
        Don't have an account yet? <a href="@Url.Action(MVC.Users.Register())">Register now.</a>
    </p>
}    

@section ContentHeader {            
    <span class="right"><img src="@Links.Content.Images.required_png" alt="Required" /></span>
    <h2>Log On</h2>
}

<form id="form" method="post" action="@Url.Current()">

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @if (ViewBag.ConfirmationRequired != null && ViewBag.ConfirmationRequired) {
        <p class="description">
            <span class="validation-summary-errors">Before you can log on, 
            you&#8217;ll need to <a href="@Url.Action(MVC.Users.Confirm())">confirm your account</a></span>
        </p>
    }
    @Html.EditorForModel()
    <div>
        <button type="submit" name="Register">Log On</button>
        <a href="@Url.Action(MVC.Users.ForgotPassword())">Lost your Password?</a>
    </div>
</form>
