@using NuGetGallery;
@model SignInRequest

<h1>Log On</h1>

<p>
    Don't have an account yet? <a href="@Url.Action(MVC.Users.Register())">Register now.</a>
</p>

@using (Html.BeginForm()) {
    <fieldset class="form">
        <legend>Log On Form</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @if (ViewBag.ConfirmationRequired != null && ViewBag.ConfirmationRequired) {
            <p class="validation-summary-errors">
                Before you can log on, you&#8217;ll need to confirm your account. When you registered, 
                we sent you an email with a URL you can click to confirm your account. 
                Please check your spam folder if you did not receive the confirmation email.
            </p>
            <p class="validation-summary-errors">
                @Html.ActionLink("Lost your confirmation email?", "ResendConfirmation", "Users")
            </p>
        }

        @Html.EditorForModel()

        <img src="@Url.Content("~/content/images/required.png")" alt="Blue border on left means required." />

        <input type="submit" value="Log On" title="Log On" />
        @Html.ActionLink("Lost your Password?", "ForgotPassword", "Users")
    </fieldset>
}

@section BottomScripts {
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}