@model User
@{
    ViewBag.Tab = "Contribute";
}

<h1 class="page-heading">My Account</h1>

<section id="actions">
    <h1>Actions</h1>
    <ul>
        <li id="uploadPackage">
            <h2><a href="@Url.UploadPackage()">Upload Package</a></h2>
            <p>
                Upload and publish your package for other NuGet users to download and enjoy. 
                You can upload multiple revisions of the same package, as long as the version 
                is different.
            </p>
        </li>
        <li id="managePackages">
            <h2><a href="@Url.Action(MVC.Users.Packages())">Manage My Packages</a></h2>
            <p>Edit package details or Remove packages that you have previously uploaded.</p>
        </li>
        <li id="editProfile">
            <h2><a href="@Url.Action(MVC.Users.Edit())">Edit Profile</a></h2>
            <p>Edit your public profile.</p>
        </li>
        <li id="changePassword">
            <h2><a href="@Url.Action(MVC.Users.ChangePassword())">Change Password</a></h2>
            <p>Change your password.</p>
        </li>
    </ul>
</section>



<section id="apiKey">
<h1>API Key</h1>
    <p>
        Your API key provides you with a token that identifies you to the gallery. 
        Keep this a secret. You can always regenerate your key at any time (invalidating 
        previous keys) if your token is accidentally revealed. The 
        <a href="http://nuget.codeplex.com/">NuGet</a> command-line utility allows you to 
        submit a NuGet package to the gallery, and you would pass you token like this:
    </p>
    
    <div id="generateKey">
        <h2>Your API key is:</h2>
        
        <div>
            <p>
                <span id="key">@Model.ApiKey</span>
                <img id="copyButton" alt="Copy To Clipboard" src="@Url.Content("~/Content/Images/copy.png")" />
            </p>
            

            <fieldset class="form">
                <legend>Generate New API Key</legend>
                @using(Html.BeginForm("GenerateApiKey", "Users", FormMethod.Post)){
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Generate New API Key" />
                }
            </fieldset>

            <h2>Example usage:</h2>
            <p>
                <pre>
nuget.exe setApiKey @Model.ApiKey
nuget.exe push MyPackage.1.0.nupkg</pre>
            </p>
        </div>

        <div id="overlayWrapper" title="Click to show API Key">
            Your key is hidden for privacy, click to show.
        </div>
    </div>
</section>

@section BottomScripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/ZeroClipboard.js")"></script>
    <script>
        $(function () {
            $("#overlayWrapper").click(function () {
                $("#overlayWrapper").fadeOut();
                return false;
            });

            ZeroClipboard.setMoviePath('@Url.Content("~/Scripts/ZeroClipboard.swf")');
            var clip = new ZeroClipboard.Client();
            clip.setText('@HttpUtility.JavaScriptStringEncode(Model.ApiKey.ToString())');
            clip.setHandCursor(true);
            clip.glue('copyButton');
        });
    </script>
}