@using NuGetGallery;
@model User
@{
    ViewBag.Tab = "Contribute";
}
<div id="layout-main" class="aside-1 group">
    
    <aside id="aside-first" class="aside-first group">
        <div class="zone zone-aside-first">
            <nav id="leftNav">
                <img src="@Links.Content.Images.contribGraphic_png" alt="Upload package graphic" />
            </nav>
        </div>
    </aside>
    
    <div id="layout-content" class="group">
        <div id="content" class="group">
            <div class="zone zone-content">
                <section>
                    <header>
                        <h2>My Account</h2>    
                    </header>
                    <h3>Actions</h3>
                    <section class="add-new">
                        <h4><a href="@Url.UploadPackage()">Upload Package</a></h4>
                        <p>
                            Upload and publish your package for other NuGet users to download and enjoy. 
                            You can upload multiple revisions of the same package, as long as the version 
                            is different.
                        </p>
                    </section>
                    <section>
                        <h5><a href="@Url.Action(MVC.Users.Packages())">Manage My Contributions</a></h5>
                        <p>Edit contribution details or Remove contributions that you have previously uploaded.</p>
                    </section>
                    <section>
                        <h5><a href="@Url.Account(AccountAction.ChangePassword)">Change Password</a></h5>
                    </section>

                    <section>
                    <h3>Access Key</h3>
                        <p>
                            Your access key provides you with a token that identifies you to the gallery. 
                            Keep this a secret. You can always regenerate your key at any time (invaldating 
                            previous keys) if your token is accidentally revealed. The 
                            <a href="http://nuget.codeplex.com/">NuGet</a> command-line utility allows you to 
                            submit a nuget package to the gallery, and you would pass you token like this:
                        </p>
                        <p><code>nuget push MyPackage.1.0.nupkg @Model.ApiKey</code></p>
                        <div style="border: 1px solid #ccc;padding:0 15px 15px;width:350px;margin-top:20px;">
                            <h4>Your access key is: </h4>
                            <p id="accessKey">@Model.ApiKey</p>
                            <form Id="generateKeyForm" action="@Url.Action(MVC.Users.GenerateApiKey())" method="post">            
                                <input id="generateKeyButton" type="button" value="Generate New Key" singleClickButton="true" />
                            </form>
                        </div>
                    </section>
                </section>
            </div>
        </div>
    </div>
</div>