@model PackageListViewModel

@{
    ViewBag.Title = "Favorite Packages";
}

@if (Model.Items.Count == 0)
{
    <p>You currently have no favorite packages.</p>
    <p><a href="@Url.PackageList()">Go Find some packages!</a></p>
}

<ul id="favorites" style="list-style: none">
    @foreach (var package in Model.Items)
    {
        <li>
            @Html.Partial(MVC.Packages.Views._ListPackage, package)
        </li>
    }
</ul>

<p>Note: if you want to see this list updated after you made changes, please refresh this page.</p>

@ViewHelpers.PreviousNextPager(Model.Pager)

@section BottomScripts {
    <script>
        $(function() {
            $("#sortOrder,#prerelease").change(function() {
                $(this).closest("form").submit();
            });
        });
    </script>

    @* NuGet JSON API *@
    <script src="@Url.Content("~/json/JsonApi?json")"></script>
    
    @* NuGet Favorite Button *@
    <script src="@Href("~/Scripts/favorites.js")"></script>
    <script>
        $(function () {
            showFavorites("@String.Join("|", Model.Items.Select(item => item.Id))");
            bindFavoriteButtons();
        });
    </script>
}

