@model PackageListViewModel

@{
    ViewBag.Title = "Favorite Packages";
}

<ol id="favorites">
    @foreach (var package in Model.Items)
    {
        <li>
            @Html.Partial(MVC.Packages.Views._ListPackage, package)
        </li>
    }
</ol>

@ViewHelpers.PreviousNextPager(Model.Pager)

@section BottomScripts {
    <script>
        $(function() {
            $("#sortOrder,#prerelease").change(function() {
                $(this).closest("form").submit();
            });
        });
    </script>

    @* NuGet JSON API *@
    <script src="@Url.Content("~/json/JsonApi?json")"></script>
    
    @* NuGet Favorite Button *@
    <script src="@Href("~/Scripts/favorites.js")"></script>
    <script>
        $(function () {
            showFavorites("@String.Join("|", Model.Items.Select(item => item.Id))");
        });
    </script>
}

