@model ManagePackagesViewModel
@if (Model.UnpublishedPackages.Any()) {
    <header>
        <h2>Unpublished Packages</h2>
        <span class="displayResults">
            The following packages are in an <strong>unfinished state</strong>. They were uploaded, 
            but are not published in the gallery. You can choose to delete these or publish them.
        </span>
    </header>

    <table class="packages owner">
        <thead class="header">
            <tr>
                <th>Title</th>
                <th>Package ID</th>
                <th>Version</th>
                <th class="ownerActions">Actions</th>
            </tr>
        </thead>
        @foreach (var package in Model.UnpublishedPackages) {
            <tr>
                <td>@package.Title</td>
                <td>@package.Id</td>
                <td>@package.Version</td>
                <td class="ownerActions">
                    <ul>
                        <li>
                            <a href="@Url.Publish(package)" title="Publish"><img src="@Links.Content.Images.greenArrow_png" alt="Publish" /></a>
                        </li>
                        <li>
                            <a href="@Url.DeletePackage(package)" title="Delete" class="deletePackageLink"><img src="@Links.Content.Images.trash_png" alt="Delete" /></a>
                        </li>
                    </ul>
                </td>
            </tr>
        }
    </table>
}

@if (Model.PublishedPackages.Any()) {
    <header class="manage-packages">
        <h2>Manage My Packages</h2>
        <p>These packages are currently published for the world to see.</p>
    </header>
    @PrintPublishedPackages(Model.PublishedPackages.Where(p => !p.Unlisted))

    var unlistedPackages = Model.PublishedPackages.Where(p => p.Unlisted);
    if (unlistedPackages.Any()) {
        <header class="manage-packages">
            <h2>Unlisted Packages</h2>
            <p>These packages are currently published but unlisted.</p>
        </header>
        @PrintPublishedPackages(unlistedPackages)
    }
}
else {
<header>
    <h2>No Packages?</h2>
</header>
<p>
    You don&#8217;t have any published packages. Maybe now is a good time to 
    <a href="@Url.UploadPackage()" class="silverButtonBig">Upload a Package</a>
</p>
}


@helper PrintPublishedPackages(IEnumerable<PackageViewModel> packages) {
    <table class="packages owned">
        <thead class="header">
            <tr>
                <th>Package</th>
                <th>Package ID</th>
                <th>Downloads</th>
                <th class="ownerActions">Actions</th>
            </tr>
        </thead>
        @foreach (var package in packages) {
            <tr>
                <td>
                    <strong><a href="@Url.Package(package)">@package.Title</a></strong>
                    <p>@package.Description</p>
                </td>
                <td>@package.Id</td>
                <td class="downloads">@package.DownloadCount</td>
                <td class="ownerActions">
                    <ul>
                        <li>
                            <a href="@Url.EditPackage(package)" title="Edit" class="editPackageLink"><img src="@Links.Content.Images.editIcon_png" alt="Edit" /></a>
                            &nbsp;
                            <a href="@Url.DeletePackage(package)" title="Delete" class="deletePackageLink"><img src="@Links.Content.Images.trash_png" alt="Delete" /></a>
                        </li>
                    </ul>
                </td>
            </tr>
        }
    </table>
}