@using NuGetGallery;
@model UserProfileModel
@{
    ViewBag.Title = "Profiles";
}

<div id="layout-main" class="profile">
    <div id="layout-content">
        <div id="content">
            <div class="zone zone-content">
                <section>
                    <header class="profile">
                        <img src="@Gravatar.GetUrl(Model.EmailAddress, 80)" alt="Gravatar" width="80" height="80" class="gravatar" />
                        <h2>@Model.Username</h2>
                        <div class="stats">
                            <span class="downloads">
                                <strong>@Model.TotalPackageDownloadCount</strong>
                                <label>total package downloads</label>
                            </span>
                        </div>
                    </header>
                    <header><h2>Packages</h2></header>
                    <ul>
                        @foreach (var package in Model.Packages) {
                            <li>
                                <div class="package">
                                    <div class="packageItem packages">
                                        <a href="@Url.Package(package)">
                                            <img src="@(package.IconUrl ?? Links.Content.Images.packageDefaultIcon_50x50_png)" class="thumbnail" title="@package.Id Package icon" />
                                        </a>
                                        <header>
                                            <h3 style="display: inline-block;">
                                                <a href="@Url.Package(package.Id)">@package.Title</a>
                                            </h3>
                                            <div class="downloads">
                                                @package.DownloadCount Downloads
                                            </div>
                                        </header>
                                        <div class="detail">
                                            <p class="description">
                                                @package.Description
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>
