@using NuGetGallery;
@model UserProfileModel
@{
    ViewBag.Title = @Model.Username;
    Layout = "~/Views/Shared/TwoColumnLayout.cshtml";
}


@section SideColumn {
    @ViewHelpers.GravatarImage(Model.EmailAddress, Model.Username, 128)
     <div id="stats">
        <div class="stat">
            <p class="stat-number">@Model.Packages.Count.ToString("n0")</p>
            <p class="stat-label">Packages</p>
        </div>
        <div class="stat">
            <p class="stat-number">@Model.TotalPackageDownloadCount.ToString("n0")</p>
            <p class="stat-label">Downloads of @Model.Username's packages</p>
        </div>
    </div>
}

<h1>@Model.Username's Profile</h1>

<h2>Packages</h2>
<ul id="searchResults">
    @foreach (var package in Model.Packages) {
    <li>
        <section class="package">
            <div class="side">
                <a href="@Url.Package(package.Id)" title="View more about @package.Title">
                    <img src="@(package.IconUrl ?? Links.Content.Images.packageDefaultIcon_50x50_png)" alt="@package.Id icon" onerror="this.src='@Links.Content.Images.packageDefaultIcon_50x50_png';" />
                </a>
            </div>
            <div class="main">
                <h1><a href="@Url.Package(package.Id)">@package.Title</a></h1>
                
                <p>
                    @if (String.IsNullOrEmpty(package.Description) || package.Description.Length < 350) {
                        @package.Description
                    }
                    else {
                        @package.Description.Substring(0, 350)<text>... </text><a href="@Url.Package(package)">More information</a>
                    }
                </p>

                <footer>
                    <p class="downloads">
                        @package.TotalDownloadCount.ToString("n0") downloads
                    </p>
                </footer>
            </div>
        </section>
    </li>
    }
</ul>