@using NuGetGallery
@model NuGetGallery.Areas.Admin.ViewModels.DeleteUserAccountViewModel
@{
    ViewBag.Title = "Delete Account " + Model.AccountName;
    ViewBag.MdPageColumns = Constants.ColumnsFormMd;
    Layout = "~/Views/Shared/Gallery/Layout.cshtml";
}

<section role="main" class="container main-container page-delete-account">
    <div class="form-group">
        <div class="form-group">
            <h1 class="text-center">Delete Account</h1>
            <div class="text-center ms-font-xxl">
                <a href="@Url.User(@Model.User)">@Model.AccountName</a>
            </div>

            @ViewHelpers.AlertDanger(@<text>
                <b class="keywords">Once the account is deleted, it cannot be undone!</b> <br />
                Deleting the account will: <br />
                1. Revoke associated API key(s). <br />
                2. Remove the account as an owner for any child packages.<br />
                3. Dissociate all previously existent ID prefix reservations with this account.<br />
            </text>)

            <div class="form-group">
                @{
                    @Html.Partial("_UserPackagesListForDeletedAccount", new ManagePackagesListViewModel(@Model.Packages, "Packages"))
                }
            </div>
        </div>
        <div class="form-group danger-zone">
            @using (Html.BeginForm("Delete", "Users", FormMethod.Post, new { id = "delete-form" }))
            {
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Signature)
                        @Html.EditorFor(m => m.Signature)
                        @Html.ValidationMessageFor(m => m.Signature)
                    </div>

                    @if (Model.HasOrphanPackages)
                    {
                        <div class="form-group">
                            @Html.EditorFor(m => m.ShouldUnlist)
                            <label class="checkbox-inline">
                                <b>Unlist the packages without any user.</b>
                            </label>
                            <p>
                                One or more packages do not have co-owners. If you choose to proceed without fixing this issue, these packages will be orphaned and a warning message will be displayed under owners on the package page.
                            </p>
                        </div>
                    }
                </div>
                <hr />
                <p>
                    This action <strong>CANNOT</strong> be undone. This will permanently delete the account <b>@Model.AccountName</b>.
                </p>
                <hr />
                @Html.HiddenFor(m => m.Signature)
                @Html.HiddenFor(m => m.ShouldUnlist)
                @Html.HiddenFor(m => m.AccountName)
                <input id="btn-delete" type="submit" class="btn btn-danger form-control" value="I understand the consequences, delete this account" title="I understand the consequences, delete this account." />
            }
        </div>
    </div>
</section>

@section BottomScripts {
    <script type="text/javascript">
        $(function () {
            $('#delete-form').submit(function (e) {
                if (!confirm('Are you sure you want to continue to delete this account?')) {
                    e.preventDefault();
                }
            });
        });
    </script>
}