@model AddOrganizationViewModel
@{
    ViewBag.Title = "Add Organization";
    ViewBag.MdPageColumns = Constants.ColumnsFormMd;
    Layout = "~/Views/Shared/Gallery/Layout.cshtml";

    var gravatarId = "gravatar-image";
    var emailBoxGroupId = "email-box-group";
}

<section role="main" class="container main-container">
    <div class="row">
        <div class="@ViewHelpers.GetColumnClasses(ViewBag)">
            <h1 class="text-center">
                <a href="@Url.ManageMyOrganizations()">Organizations</a>
                &gt;
                Add New
            </h1>
            <p class="text-center">
                Organizations allow you to manage and publish packages as a team or a group.
            </p>
            <div>
                <aside class="col-sm-3 col-sm-push-9">
                    @Html.Label("Logo")
                    <img src="@Url.Absolute("~/Content/gallery/img/default-package-icon-256x256.png")" class="owner-image img-responsive" height="332" id="gravatar-image" width="332" alt="gravatar" title="Organization logo">
                </aside>

                <div class="col-sm-6 col-sm-pull-3">
                    @using (Html.BeginForm("Add", "Organizations", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group @Html.HasErrorFor(m => m.OrganizationName)">
                            @Html.ShowLabelFor(m => m.OrganizationName)
                            @Html.ShowTextBoxFor(m => m.OrganizationName)
                            @Html.ShowValidationMessagesFor(m => m.OrganizationName)
                            <span>This will be your organization account on <i>@Url.User("your_name_here", relativeUrl: false).</i></span>
                        </div>

                        <div class="form-group @Html.HasErrorFor(m => m.OrganizationEmailAddress)" id="@emailBoxGroupId">
                            @Html.ShowLabelFor(m => m.OrganizationEmailAddress)
                            @Html.ShowTextBoxFor(m => m.OrganizationEmailAddress)
                            @Html.ShowValidationMessagesFor(m => m.OrganizationEmailAddress)
                            <span>Users can contact you at this email address.</span>
                        </div>

                        <div class="form-group row">
                            <div class="col-xs-6">
                                <input type="submit" class="btn btn-primary form-control" value="Add" />
                            </div>
                            <div class="col-xs-6">
                                <a href="@Url.ManageMyOrganizations()" role="button" class="btn btn-default form-control">Cancel</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section BottomScripts {
    <script type="text/javascript">
        var gravatarId = "@gravatarId";
        var emailBoxGroupId = "@emailBoxGroupId";
        var defaultImage = "@Html.Raw(@Url.Absolute("~/Content/gallery/img/default-package-icon-256x256.png"))";
        var emailValidationRegex = new RegExp("@Html.Raw(@Constants.EmailValidationRegex)");
    </script>
    @Scripts.Render("~/Scripts/gallery/page-add-organization.min.js")
}