@model OrganizationAccountViewModel
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Manage Organization";
    Layout = "~/Views/Shared/Gallery/Layout.cshtml";

    TempData["Parent"] = this;
}

<section role="main" class="container main-container page-manage-organizations">
    @ViewHelpers.AjaxAntiForgeryToken(Html)
    <div class="row">
        <div class="col-md-12">
            @ViewHelpers.OrganizationsBreadcrumb(
                Url, 
                CurrentUser,
                true,
                @<text>@Model.AccountName</text>)
        </div>

        <div class="@ViewHelpers.GetColumnClasses(ViewBag)">
            @if (!Model.CanManage)
            {
                @ViewHelpers.AlertInfo(@<text>You are a collaborator of this organization. Only administrators can make changes.</text>);
            }

            @Html.Partial("_AccountConfirmationNotices", Model)

            @Html.Partial("_AccountChangeEmail", Model)

            @Html.Partial("_AccountChangeNotifications", Model)

            @Html.Partial("_AccountProfilePicture", Model)

            @Html.Partial("_OrganizationAccountManageMembers", Model)

            @Html.Partial("_AccountCuratedFeeds", Model)
        </div>
    </div>
</section>

@section BottomScripts {
    <script type="text/javascript">
    var initialData = @Html.Raw(JsonConvert.SerializeObject(new
        {
            AccountName = Model.AccountName,
            Members = Model.Members.Select(m => new
            {
                Username = m.Username,
                IsAdmin = m.IsAdmin,
                IsCurrentUser = m.Username.Equals(CurrentUser.Username, StringComparison.OrdinalIgnoreCase),
                Pending = m.Pending,
                GravatarUrl = m.GravatarUrl
            }),
            AddMemberUrl = Url.AddOrganizationMember(Model.AccountName),
            CancelMemberRequestUrl = Url.CancelOrganizationMembershipRequest(Model.AccountName),
            UpdateMemberUrl = Url.UpdateOrganizationMember(Model.AccountName),
            DeleteMemberUrl = Url.DeleteOrganizationMember(Model.AccountName),
            ProfileUrlTemplate = Url.UserTemplate().LinkTemplate
        }));
    </script>
    @ViewHelpers.SectionsScript(this);
    @Scripts.Render("~/Scripts/gallery/page-manage-organization.min.js")
}
