@model OrganizationAccountViewModel
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Manage Organization";
    Layout = "~/Views/Shared/Gallery/Layout.cshtml";

    TempData["Parent"] = this;
}

<section role="main" class="container main-container page-manage-organizations">
    @ViewHelpers.AjaxAntiForgeryToken(Html)
    <div class="row">
        <div class="col-md-12">
            @ViewHelpers.OrganizationsBreadcrumb(
                Url, 
                CurrentUser,
                true,
                @<text>@Model.AccountName</text>)
        </div>

        <div class="@ViewHelpers.GetColumnClasses(ViewBag)">
            @if (!Model.CanManage || !Model.CanManageMemberships)
            {
                string membershipString;

                var membership = Model.Account.GetMembershipOfUser(CurrentUser);
                if (membership == null)
                {
                    membershipString = "You are not a member of this organization.";
                }
                else
                {
                    membershipString = membership.IsAdmin ?
                        "You are an administrator of this organization." :
                        "You are a collaborator of this organization.";
                }

                string permissionsString;
                if (Model.CanManage)
                {
                    permissionsString = Model.CanManageMemberships ? 
                        "" : // This should not be possible because of the if statement wrapping this code.
                        "You must be an administrator to change its members.";
                }
                else
                {
                    permissionsString = Model.CanManageMemberships ?
                        "You must be an administrator to make changes to its email settings and profile picture." :
                        "You must be an administrator to make changes to it.";
                }

                @ViewHelpers.AlertInfo(@<text>@membershipString </text>)
            }

            @Html.Partial("_AccountConfirmationNotices", Model)

            @Html.Partial("_AccountChangeEmail", Model)

            @Html.Partial("_AccountChangeNotifications", Model)

            @Html.Partial("_AccountProfilePicture", Model)

            @Html.Partial("_OrganizationAccountManageMembers", Model)

            @Html.Partial("_AccountCuratedFeeds", Model)
        </div>
    </div>
</section>

@section BottomScripts {
    <script type="text/javascript">
    var initialData = @Html.Raw(JsonConvert.SerializeObject(new
        {
            AccountName = Model.AccountName,
            Members = Model.Members.Select(m => new
            {
                Username = m.Username,
                IsAdmin = m.IsAdmin,
                IsCurrentUser = m.Username.Equals(CurrentUser.Username, StringComparison.OrdinalIgnoreCase),
                Pending = m.Pending,
                GravatarUrl = m.GravatarUrl
            }),
            AddMemberUrl = Url.AddOrganizationMember(Model.AccountName),
            CancelMemberRequestUrl = Url.CancelOrganizationMembershipRequest(Model.AccountName),
            UpdateMemberUrl = Url.UpdateOrganizationMember(Model.AccountName),
            DeleteMemberUrl = Url.DeleteOrganizationMember(Model.AccountName),
            ProfileUrlTemplate = Url.UserTemplate().LinkTemplate
        }));
    </script>
    @ViewHelpers.SectionsScript(this);
    @Scripts.Render("~/Scripts/gallery/page-manage-organization.min.js")
}
