@model GalleryHomeViewModel
@{
    ViewBag.Title = "Home";
    ViewBag.ShowSearchInNavbar = false;
    ViewBag.AutofocusSearch = true;
    ViewBag.HasJumbotron = true;
    var AskUserToEnable2FA = TempData.ContainsKey("AskUserToEnable2FA")
        && Convert.ToBoolean(TempData["AskUserToEnable2FA"].ToString())
        && Model.ShowEnable2FAModalFeatureEnabled;
}

@section SocialMeta {
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@("@nuget")">

    <meta property="og:title" content="@(Config.Current.Brand) @(String.IsNullOrWhiteSpace(ViewBag.Title) ? "" : "| " + ViewBag.Title)" />
    <meta property="og:url" content="@(Url.Home(relativeUrl: false))" />
    <meta property="og:description" content="The NuGet Gallery is the central package repository for NuGet, the package manager for .NET." />
    <meta property="og:image" content="@(Url.Absolute("~/Content/gallery/img/logo-og-600x600.png"))" />
}

@if (Model.ShowTransformModal)
{
    <script type="text/javascript">
        window.showModal = true;
    </script>
    <div id="popUpModal" role="dialog" class="modal fade modal-container" data-backdrop="static" tabindex="-1">
        @Html.Partial("_TransformOrLink", Model)
    </div>
}
else if (AskUserToEnable2FA)
{
    <script type="text/javascript">
        window.show2FAModal = true;
    </script>
    <div id="popUp2FAModal" class="modal fade modal-container" data-backdrop="static">
        @Html.Partial("_Enable2FA", Model)
    </div>
}

<section role="main" class="page-home">
    <div class="jumbotron text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="large-title">Create .NET apps faster with NuGet</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <form action="@Url.PackageList()" method="get">
                        @Html.Partial("_SearchBar")
                        @Html.Partial("_AutocompleteTemplate")
                    </form>
                </div>
            </div>
        </div>
        <div class="circuit-board hidden-xs" role="img" data-bind="attr: { 'aria-label': label }">
            <div class="circuit-board-label circuit-board-pd triangle">
                <span class="ms-font-xxl" data-bind="animateNumber: packageDownloads">0</span>
                <br />
                <span class="ms-fontSize-l">package downloads</span>
            </div>
            <div class="circuit-board-label circuit-board-pv triangle">
                <span class="ms-font-xxl" data-bind="animateNumber: packageVersions">0</span>
                <br />
                <span class="ms-fontSize-l">package versions</span>
            </div>
            <div class="circuit-board-label circuit-board-up triangle">
                <span class="ms-font-xxl" data-bind="animateNumber: uniquePackages">0</span>
                <br />
                <span class="ms-fontSize-l">unique packages</span>
            </div>
        </div>
    </div>

    <div class="container text-center what-is-nuget">
        <div class="row">
            <h2>What is NuGet?</h2>
            <p>
                NuGet is the package manager for .NET. The NuGet client tools provide the ability to produce and consume packages.
                The NuGet Gallery is the central package repository used by all package authors and consumers.
            </p>
        </div>
        <div class="row row-gap">
            <div class="col-sm-4">
                <a href="https://docs.microsoft.com/nuget/quickstart/use-a-package"
                   title="Learn about how to use NuGet packages">
                    <div class="home-icons">
                        <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 96 96" fill="none">
                            <path d="M48 76.7149C45.9945 78.8393 43.1521 80.165 40 80.165H15C11.134 80.165 8 77.031 8 73.165V23.165C8 19.299 11.134 16.165 15 16.165H40C43.1521 16.165 45.9945 17.4908 48 19.6152C50.0055 17.4908 52.8479 16.165 56 16.165H81C84.866 16.165 88 19.299 88 23.165V73.165C88 77.031 84.866 80.165 81 80.165H56C52.8479 80.165 50.0055 78.8393 48 76.7149ZM14 23.165V73.165C14 73.7173 14.4477 74.165 15 74.165H40C42.7614 74.165 45 71.9265 45 69.165V27.165C45 24.4036 42.7614 22.165 40 22.165H15C14.4477 22.165 14 22.6128 14 23.165ZM51 69.165C51 71.9265 53.2386 74.165 56 74.165H81C81.5523 74.165 82 73.7173 82 73.165V23.165C82 22.6128 81.5523 22.165 81 22.165H56C53.2386 22.165 51 24.4036 51 27.165V69.165Z" fill="white" />
                        </svg>
                    </div>
                    <h3>Learn</h3>
                </a>
                <p>
                    New to NuGet? Start with a walkthrough showing how NuGet powers your .NET development.
                </p>
            </div>
            <div class="col-sm-4">
                <a href="@Url.PackageList()"
                   title="Explore packages available on NuGet.org">
                    <div class="home-icons">
                        <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 96 96" fill="none">
                            <path d="M18 40.165C18 28.0148 27.8497 18.165 40 18.165C52.1503 18.165 62 28.0148 62 40.165C62 52.3153 52.1503 62.165 40 62.165C27.8497 62.165 18 52.3153 18 40.165ZM40 12.165C24.536 12.165 12 24.7011 12 40.165C12 55.629 24.536 68.165 40 68.165C46.6513 68.165 52.761 65.8459 57.5644 61.9721L78.8787 83.2864C80.0503 84.4579 81.9497 84.4579 83.1213 83.2864C84.2929 82.1148 84.2929 80.2153 83.1213 79.0437L61.807 57.7294C65.6808 52.926 68 46.8163 68 40.165C68 24.7011 55.464 12.165 40 12.165Z" fill="white" />
                        </svg>
                    </div>
                    <h3>Explore</h3>
                </a>
                <p>
                    Browse the thousands of packages that developers like you have created and shared with the .NET community.
                </p>
            </div>
            <div class="col-sm-4">
                <a href="https://docs.microsoft.com/nuget/quickstart/create-and-publish-a-package"
                   title="Learn how to create a NuGet package">
                    <div class="home-icons">
                        <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 96 96" fill="none">
                            <path d="M52.2287 29.8891C56.1339 25.9838 62.4656 25.9839 66.3708 29.8891C70.2761 33.7943 70.2761 40.126 66.3708 44.0312C62.4656 47.9365 56.1339 47.9365 52.2287 44.0312C48.3235 40.126 48.3235 33.7943 52.2287 29.8891ZM62.1282 34.1317C60.5661 32.5696 58.0334 32.5696 56.4713 34.1317C54.9092 35.6938 54.9092 38.2265 56.4713 39.7886C58.0334 41.3507 60.5661 41.3507 62.1282 39.7886C63.6903 38.2265 63.6903 35.6938 62.1282 34.1317ZM86.0343 17.4547C84.9592 13.9954 82.25 11.2873 78.7903 10.2136L76.1421 9.39173C66.568 6.42042 56.1358 8.99811 49.0474 16.0866L45.0639 20.0701C39.5849 15.9555 31.7726 16.3909 26.7874 21.3761L21.8173 26.3462C20.6457 27.5178 20.6457 29.4173 21.8173 30.5889L28.1812 36.9528L27.4619 37.672C24.7282 40.4057 24.7282 44.8378 27.4619 47.5715L29.4433 49.5529L23.8611 52.7367C23.0485 53.2002 22.4986 54.0161 22.3741 54.9433C22.2495 55.8704 22.5646 56.8025 23.226 57.464L38.7825 73.0204C39.4435 73.6814 40.3748 73.9965 41.3013 73.8726C42.2279 73.7488 43.0437 73.2001 43.5079 72.3887L46.6995 66.8091L48.6882 68.7978C51.4219 71.5315 55.854 71.5315 58.5877 68.7978L59.2948 68.0906L65.6532 74.449C66.8248 75.6206 68.7243 75.6206 69.8959 74.449L74.866 69.4789C79.8493 64.4956 80.2863 56.6874 76.1768 51.2087L80.1685 47.217C87.2597 40.1258 89.8364 29.6885 86.8601 20.1119L86.0343 17.4547ZM77.0119 15.944C78.5845 16.432 79.816 17.663 80.3046 19.2354L81.1305 21.8926C83.4454 29.3411 81.4413 37.459 75.9259 42.9743L54.3451 64.5552C53.9545 64.9457 53.3214 64.9457 52.9308 64.5552L31.7046 43.3289C31.314 42.9384 31.314 42.3052 31.7046 41.9147L53.29 20.3292C58.8033 14.816 66.9172 12.8111 74.3637 15.1221L77.0119 15.944ZM71.8564 55.5291C73.6664 58.5922 73.2554 62.6042 70.6234 65.2363L67.7746 68.0851L63.5375 63.848L71.8564 55.5291ZM31.03 25.6188C33.6641 22.9847 37.6802 22.5751 40.7441 24.3898L32.4238 32.7101L28.1812 28.4676L31.03 25.6188ZM42.3025 62.4121L40.2491 66.0017L30.2484 56.001L33.8419 53.9515L42.3025 62.4121ZM26.7595 73.7428C27.931 72.5712 27.931 70.6717 26.7595 69.5002C25.5879 68.3286 23.6884 68.3286 22.5168 69.5002L12.6173 79.3997C11.4458 80.5712 11.4458 82.4707 12.6173 83.6423C13.7889 84.8139 15.6884 84.8139 16.86 83.6423L26.7595 73.7428ZM18.9811 61.722C20.1527 62.8936 20.1527 64.7931 18.9811 65.9646L14.7385 70.2073C13.5669 71.3789 11.6674 71.3789 10.4959 70.2073C9.32429 69.0357 9.3243 67.1362 10.4959 65.9646L14.7385 61.722C15.9101 60.5504 17.8096 60.5504 18.9811 61.722ZM34.5295 81.5294C35.7011 80.3578 35.7011 78.4583 34.5296 77.2867C33.358 76.1151 31.4585 76.1151 30.2869 77.2867L26.0525 81.521C24.8809 82.6925 24.8809 84.592 26.0525 85.7636C27.224 86.9352 29.1235 86.9352 30.2951 85.7637L34.5295 81.5294Z" fill="white" />
                        </svg>
                    </div>
                    <h3>Create</h3>
                </a>
                <p>
                    Want to make your first NuGet package and share it with the community? Start with this walkthrough!
                </p>
            </div>
        </div>
    </div>
</section>

@section BottomScripts {
    <script type="text/javascript">
        var feedbackUrl = "@Url.Send2FAFeedback()";
        var changeMultiFactorAuthenticationUrl = "@Url.ChangeMultiFactorAuthentication()";
    </script>
    @Scripts.Render("~/Scripts/gallery/page-home.min.js")
}