@using System.Linq;
@using System.Collections;
@using NuGetGallery;

@helper PreviousNextPager(IPreviousNextPager pager) {
    if (pager.HasNextPage || pager.HasPreviousPage) {
        <ul class="group pager">        
            <li class="page-previous">
                @if (pager.HasPreviousPage) { 
                    <a href="@pager.PreviousPageUrl">Previous</a>
                }
                else {
                    <span>Previous</span>
                }
            </li>
            <li class="page-next">
                @if (pager.HasNextPage) { 
                    <a href="@pager.NextPageUrl">Next</a>
                }
                else {
                    <span>Next</span>
                }
            </li>
        </ul>
    }
}


@helper DisplayRating(float averageRating) {
    int flooredAverageRating = (int)averageRating;
    
    <div class="stars-current-result stars-value-@flooredAverageRating" style="display:inline;">
        @for (int i = 1; i < 6; i++) {
            //TODO: Probably should be a helper.
            <span class="star-@i a-star" title="Average Rating: @averageRating">
                @if (i >= flooredAverageRating) {<text>*</text>}
                else {<text>-</text>}
            </span>
        }
    </div>
}

@helper Option(string value, string label, string currentValue) {
    <option value="@value" @if (value == currentValue) {<text>selected="selected"</text>}>@label</option>    
}

@helper UploadSequence(int currentStep) {
    @SequenceStep(1, "Upload", currentStep)
    @SequenceStep(2, "Verify Details", currentStep)
}

@helper SequenceStep(int step, string caption, int currentStep) {
    if (currentStep == step) {
        <li class="current"><a href="#"><span>@step </span>@caption</a></li>
    }
    else {
        <li><span>@step </span>@caption</li>
    }    
}

