@model LogOnViewModel
@{
    ViewBag.Title = "Sign In";
}

<div id="logon">
    @if (Model.External != null)
    {
        <div id="register">
            <h1>Who are you?</h1>
            <p>
                It looks like we haven't seen the @Model.External.ProviderAccountNoun '@Model.External.AccountName'
                before. That's just fine, we love meeting new people! In order to use NuGet, you need to provide a user name
                and email address. We pre-filled the email address from your @Model.External.ProviderAccountNoun information, but
                feel free to change it.
            </p>

            <div id="externalaccount-register">
                <p class="message">Already have an account? You can <a class="s-toggle" data-show="#externalaccount-signin" data-hide="#externalaccount-register" href="#">Sign In</a> with it to associate this credential with that account.</p>
                <div class="externalaccount-form">
                    @Html.Partial("_Register", Model)
                </div>
            </div>
            <div id="externalaccount-signin" class="s-hidden">
                <p class="message">Don't have an account? You can <a class="s-toggle" data-show="#externalaccount-register" data-hide="#externalaccount-signin" href="#">Register</a> a new one instead.</p>
                <div class="externalaccount-form">
                    @Html.Partial("_SignIn", Model)
                </div>
            </div>
        </div>
    }
    else
    {
        <div id="signIn">
            @Html.Partial("_SignIn", Model)
        </div>

        <div class="verticalSeparator"></div>

        <div id="register-sidecar">
            @Html.Partial("_Register", Model)
        </div>
    }
</div>