@model SignInRequest
@{
    ViewBag.Title = "Sign In";
}

<h1>Sign In</h1>

<p>
    Don't have an account yet? <a href="@Url.Register()">Register now.</a>
</p>

@using (Html.BeginForm())
{
    <fieldset class="form">
        <legend>Sign In Form</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.EditorForModel()

        <img src="@Url.Content("~/content/images/required.png")" alt="Blue border on left means required." />

        <input type="submit" value="Sign In" title="Sign In" />
        @Html.ActionLink("Lost your Password?", "ForgotPassword", "Users")
    </fieldset>
}