@model LogOnViewModel
@{
    ViewBag.Title = "Sign In";
}

<div id="logon">
    @if (Model.External != null)
    {
        <div id="register">
            <h1>Do we know you?</h1>
            <p>
                It looks like we haven't seen the @Model.External.ProviderAccountNoun '@Model.External.AccountName'
                before.
            </p>

            <div id="signIn">
                <h1>I already have an account</h1>
                <p>
                    Already have an account? Sorry, we didn't recognize you! Sign in with your user name and password
                    below and we'll remember you next time.
                </p>
                @Html.Partial("_SignIn", Model)
            </div>

            <div class="verticalSeparator"></div>

            <div id="register-sidecar">
                <h1>I don't have an account</h1>
                <p>
                    Don't have a NuGet account yet? That's OK! We love meeting new people! Please fill in the information 
                    below and we'll start a new account for you. You'll be pushing packages in no time!
                </p>
                @Html.Partial("_Register", Model)
            </div>
        </div>
    }
    else
    {
        <div id="signIn">
            <h1>Sign In</h1>
            @Html.Partial("_SignIn", Model)
        </div>

        <div class="verticalSeparator"></div>

        <div id="register-sidecar">
            <h1>Register</h1>
            @Html.Partial("_Register", Model)
        </div>
    }
</div>