@model PublishTestDriverWebSite.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}

<h1>NuGet Publishing Test Application</h1>

<table>
    <tr>
        <td>ClientId</td>
        <td>@Model.ClientId</td>
    </tr>
    <tr>
        <td>AADInstance</td>
        <td>@Model.AADInstance</td>
    </tr>
    <tr>
        <td>Tenant</td>
        <td>@Model.Tenant</td>
    </tr>
    <tr>
        <td>CertificateThumbprint</td>
        <td>@Model.CertificateThumbprint</td>
    </tr>
    <tr>
        <td>CertificateSubject</td>
        <td>@Model.CertificateSubject</td>
    </tr>
</table>

