@using System.Web.Mvc
@using Microsoft.Web.Helpers
@using NuGetGallery
@using NuGetGallery.Helpers
@using NuGetGallery.Configuration
@using Ninject

@helper PreviousNextPager(IPreviousNextPager pager)
{
    if (pager.HasNextPage || pager.HasPreviousPage)
    {
        <ul class="pager">
            <li class="previous">
                @if (pager.HasPreviousPage)
                {
                    <a href="@pager.PreviousPageUrl" title="Go to the previous page.">Previous</a>
                }
                else
                {
                    <text>Previous</text>
                }
            </li>
            <li class="next">
                @if (pager.HasNextPage)
                {
                    <a href="@pager.NextPageUrl" title="Go to the next page.">Next</a>
                }
                else
                {
                    <text>Next</text>
                }
            </li>
        </ul>
    }
}

@helper Option(string value, string label, string currentValue)
{
    <option value="@value" @if (value == currentValue)
                           {
                               <text>selected="selected"</text>
                           }>@label</option>
}

@helper UploadSequence(int currentStep)
{
    <ol class="sequence">
        @SequenceStep(1, "Upload", currentStep)
        @SequenceStep(2, "Verify Details", currentStep)
    </ol>
    <div class="clear-fix"><!--Sad Panda--></div>
}

@helper SequenceStep(int step, string caption, int currentStep)
{
    if (currentStep > step)
    {
        <li class="past">@caption</li>
    }
    else if (currentStep == step)
    {
        <li class="current">@caption</li>
    }
    else
    {
        <li>@caption</li>
    }
}

@helper OwnersGravatar(IEnumerable<User> owners, int size, UrlHelper url, bool showName = true)
{
    <ul class="owners">
        @foreach (var owner in owners)
        {
            <li>
                @OwnerGravatar(owner, size, url, showName)
            </li>
        }  
    </ul>
}

@helper OwnerGravatar(User owner, int size, UrlHelper url, bool showName = true)
{
    <a class="owner" href="@url.User(owner)" title="@owner.Username">
        @if (!String.IsNullOrEmpty(owner.EmailAddress))
        {
            @GravatarImage(owner.EmailAddress, owner.Username, size)
        }
        @if (showName)
        {
            <span class="owner-name">@owner.Username</span>
        }
    </a>
}

@helper GravatarImage(string email, string username, int size)
{
    var gravatarHtml = Gravatar.GetHtml(email, size, "retro", GravatarRating.G, attributes: new { width = size, height = size, title = username, @class = "owner-image" });
    if (gravatarHtml != null && Request.IsSecureConnection)
    {
        gravatarHtml = new HtmlString(gravatarHtml.ToHtmlString().Replace("http://www.gravatar.com/", "https://secure.gravatar.com/"));
    }
    @gravatarHtml
}

@helper WriteMeta(string name, string val) {
    if(!String.IsNullOrEmpty(val)) {
        <meta name="deployment-@name" content="@val" />
    }
}

@helper ReleaseMeta() {
    // Get Version info
    var ver = ApplicationVersionHelper.GetVersion();
    
    if(ver.Present) {
        WriteMeta("branch", ver.Branch);
        WriteMeta("commit", ver.ShortCommit);
        WriteMeta("time", ver.BuildDateUtc == DateTime.MinValue ? null : ver.BuildDateUtc.ToString("O"));
    }
}

@helper ReleaseTag()
{
    // Get Version info and gallery brand name
    var ver = ApplicationVersionHelper.GetVersion();
    var config = Container.Kernel.TryGet<ConfigurationService>();
    string brand = config == null ? "" : config.Current.Brand;

    <p id="releaseTag">
        This is the @brand
        @if (ver.Present)
        {
            @: version @ver.Version.
            if(!String.IsNullOrEmpty(ver.ShortCommit)) {
                <text>
                    Deployed from
                    @if(ver.CommitUri != null) {
                        @: <a href="@ver.CommitUri.AbsoluteUri.Replace("git://github.com", "https://github.com")">@ver.ShortCommit</a>.
                    } else {
                        @: @ver.ShortCommit.
                    }
                </text>
            }
            
            if(!String.IsNullOrEmpty(ver.Branch)) {
                <text>
                    Built on 
                    @if(ver.BranchUri != null) {
                        @:<a href="@ver.BranchUri.AbsoluteUri" title="View the branch.">@ver.Branch</a>.
                    } else {
                        @: @ver.Branch.
                    }
                </text>
            }
            
            if(ver.BuildDateUtc != DateTime.MinValue) {
                @: Built at <span class="s-localtime" data-utc="@ver.BuildDateUtc.ToJavaScriptUTC()">@ver.BuildDateUtc.ToNuGetShortDateString()</span>.
            }
        } else {
            @:.
        }
        
        @* A little quick-n-dirty code to display the current machine *@
        @* In Azure, we want the Instance ID. The Machine Name is total garbage *@
        You are on @HostMachine.Name.
    </p>
}

@helper AnalyticsScript()
{
    var config = Container.Kernel.TryGet<ConfigurationService>();
    if(config != null) {
        var propertyId = config.Current.GoogleAnalyticsPropertyId;
        if (propertyId != null)
        {
            @Analytics.GetGoogleAsyncHtml(propertyId)
        }
    }
}
