@using System.Reflection
@{
    ViewBag.Title = "Site Administration";
    ViewBag.Tab = "Admin";
    var nugetCore = typeof(NuGet.PackageBuilder).Assembly;
    var infoVerAttr = nugetCore.GetCustomAttribute<AssemblyInformationalVersionAttribute>();
}

<section id="actions">
    <h1>Site Administration</h1>
    <ul>
        <li>
            <h2>
                <a class="action-menu-link" href="~/Admin/Database">
                    <i class="icon-magic action-menu-icon"></i>
                    <span class="action-menu-text">Database Administration</span>
                </a>
            </h2>
            <p>
                Get direct access to the database to manipulate Users, Packages, etc. USE WITH CAUTION.
            </p>
        </li>
        <li>
            <h2>
                <a class="action-menu-link" href="~/Admin/Errors.axd">
                    <i class="icon-reorder action-menu-icon"></i>
                    <span class="action-menu-text">Error Logs</span>
                </a>
            </h2>
            <p>
                View Application Error Logs.
            </p>
        </li>
        <li>
            <h2>
                <a class="action-menu-link" href="@Url.Action(actionName: "Index", controllerName: "Lucene")">
                    <i class="icon-search action-menu-icon"></i>
                    <span class="action-menu-text">Lucene Index Maintainance</span>
                </a>
            </h2>
            <p>
                Maintain the Lucene full-text search index.
            </p>
        </li>
        <li>
            <h2>
                <a class="action-menu-link" href="@Url.Action(actionName: "Index", controllerName: "Config")">
                    <i class="icon-gears action-menu-icon"></i>
                    <span class="action-menu-text">Configuration</span>
                </a>
            </h2>
            <p>
                View Application Configuration
            </p>
        </li>
        <li>
            <h2>
                <a class="action-menu-link" href="@Url.Action(actionName: "ClearContentCache", controllerName: "Home")">
                    <i class="icon-trash action-menu-icon"></i>
                    <span class="action-menu-text">Clear Content Cache</span>
                </a>
            </h2>
            <p>
                View Application Configuration
            </p>
        </li>
    </ul>
    <div>
        NuGet.Core version:
        @typeof(NuGet.PackageBuilder).Assembly.GetName().Version
        (@(infoVerAttr == null ? "<unknown package version>" : infoVerAttr.InformationalVersion))</div>
</section>
