@model CuratedFeedViewModel
@{
    ViewBag.Title = "Curated Feed: " + Model.Name;
    Layout = "~/Views/Shared/Gallery/Layout.cshtml";
}

<section class="main-container container page-manage-curated-feed">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Curated Feed <a href="@Url.CuratedPackageList(0, "", Model.Name)" class="ms-noWrap">@Model.Name</a></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        <a href="#" role="button" data-toggle="collapse" data-target="#feed-managers"
                           aria-expanded="true" aria-controls="feed-managers" id="show-feed-managers">
                            <i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
                            <span>Managers</span>
                        </a>
                    </h2>
                    <div class="panel-collapse collapse in" aria-expanded="true" id="feed-managers">
                        <p>This is a list of all users authorized to manage the curated feed. To add or remove managers, please contact the gallery operators.</p>
                        <div class="package-owners" role="list">
                            @foreach (var manager in Model.Managers)
                            {
                                <div class="owner" role="listitem">
                                    <div class="row">
                                        <div class="col-xs-1">
                                            @ViewHelpers.GravatarImage(manager.EmailAddress, manager.Username, 32)
                                        </div>
                                        <div class="col-xs-11 ms-font-xl">
                                            <a href="@Url.User(manager)" title="@manager.Username">@manager.Username</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        <a href="#" role="button" data-toggle="collapse" data-target="#included-packages"
                           aria-expanded="true" aria-controls="included-packages" id="show-included-packages">
                            <i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
                            <span>Included Packages</span>
                        </a>
                    </h2>
                    <div class="panel-collapse collapse in" aria-expanded="true" id="included-packages">
                        <p>This is a list of all packages included in the curated feed, both manually and automatically added. To manually include a new package to the feed, click the "Include Package" link below. To remove a manually curated package, click the "Remove" link next to it. To exclude an automatically curated package, click the "Exclude" link next to it.</p>
                        <p><em>* denotes automatically curated packages</em></p>
                        <div class="feed-packages-list" role="list">
                            @foreach (var package in Model.IncludedPackages)
                            {
                                <div class="package" role="listitem">
                                    <a class="id" href="@Url.Package(package.Id)">@package.Id</a>
                                    <div class="controls">
                                        @if (package.AutomaticallyCurated)
                                        {
                                            <a href="#" class="exclude-link icon-link" data-package-id="@package.Id" role="button">
                                                <i class="ms-Icon ms-Icon--Cancel" aria-hidden="true"></i>
                                                <span>Exclude</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="#" class="remove-link icon-link" data-package-id="@package.Id" role="button">
                                                <i class="ms-Icon ms-Icon--Cancel" aria-hidden="true"></i>
                                                <span>Remove</span>
                                            </a>
                                        }
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            }
                        </div>
                        @using (Html.BeginForm("CreateCuratedPackageForm", "CuratedPackages", FormMethod.Get))
                        {
                            @Html.Hidden("curatedFeedName", Model.Name)

                            <div class="form-group">
                                <input type="submit" class="btn btn-primary form-control" value="Include Package" />
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        <a href="#" role="button" data-toggle="collapse" data-target="#excluded-packages"
                           aria-expanded="true" aria-controls="excluded-packages" id="show-excluded-packages">
                            <i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
                            <span>Excluded Packages</span>
                        </a>
                    </h2>
                    <div class="panel-collapse collapse in" aria-expanded="true" id="excluded-packages">
                        <p>This is a list of all automatically curated packages that have been subsequently manually excluded. To include the package in the curated feed, click the "Include" link next to the package.</p>
                        <div class="feed-packages-list" role="list">
                            @foreach (var package in Model.ExcludedPackages)
                            {
                                <div class="package" role="listitem">
                                    <a class="id" href="@Url.Package(@package)">@package</a>
                                    <div class="controls">
                                        <a href="#" class="include-link icon-link" data-package-id="@package" role="button">
                                            <i class="ms-Icon ms-Icon--Add" aria-hidden="true"></i>
                                            <span>Include</span>
                                        </a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section BottomScripts {
    <script>
        var urlFormat = "@Url.RouteUrl(RouteName.CuratedPackage, new { curatedFeedName = Model.Name, curatedPackageId = "PACKAGE_ID" })";

        function deleteCuratedPackage(packageId) {
            $.ajax({
                type: 'delete',
                url: urlFormat.replace("PACKAGE_ID", packageId)
            })
                .error(function(jqXhr, textStatus, errorThrown) {
                    alert("Error: " + errorThrown);
                })
                .complete(function() {
                    location.reload();
                });
        }

        function patchCuratedPackage(packageId, included) {
            $.ajax({
                type: 'patch',
                url: urlFormat.replace("PACKAGE_ID", packageId),
                data: { included: included },
                dataType: 'json'
            })
                .error(function(jqXhr, textStatus, errorThrown) {
                    alert("Error: " + errorThrown);
                })
                .complete(function() {
                    location.reload();
                });
        }

        $(document).ready(function () {
            window.nuget.configureExpander(
                "feed-managers",
                "ChevronRight",
                "Managers",
                "ChevronDown",
                "Managers");

            window.nuget.configureExpander(
                "included-packages",
                "ChevronRight",
                "Included Packages",
                "ChevronDown",
                "Included Packages");

            window.nuget.configureExpander(
                "excluded-packages",
                "ChevronRight",
                "Excluded Packages",
                "ChevronDown",
                "Excluded Packages");

            $(".remove-link").click(function (e) {
                e.preventDefault();
                deleteCuratedPackage($(this).data("package-id"));
            });

            $(".exclude-link").click(function (e) {
                e.preventDefault();
                patchCuratedPackage($(this).data("package-id"), false);
            });

            $(".include-link").click(function (e) {
                e.preventDefault();
                patchCuratedPackage($(this).data("package-id"), true);
            });
        });
    </script>
}