@if (!string.IsNullOrWhiteSpace(Config.Current.WarningBanner))
{
    <div id="service-alert">
        <div class="banner-warning">@Config.Current.WarningBanner</div>
    </div>
}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Home()"><img class="navbar-logo" src="~/Content/new/img/logo-94x27.png" alt="Smaller NuGet logo in header" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="@Url.PackageList()">Packages</a></li>
                <li><a href="@Url.UploadPackage()">Upload</a></li>
                @if (StatisticsHelper.IsStatisticsPageAvailable)
                {
                    <li><a href="@Url.Statistics()">Statistics</a></li>
                }
                <li><a href="https://docs.microsoft.com/en-us/nuget/">Documentation</a></li>
                <li><a href="@Url.RouteUrl(RouteName.Downloads)">Downloads</a></li>
                <li><a href="http://blog.nuget.org/">Blog</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#log-in">Log in</a></li>
                <li><a href="#sign-up">Sign up</a></li>
            </ul>
        </div>
    </div>
</nav>

@if (TempData.ContainsKey("Message"))
{
    <p class="message">@TempData["Message"]</p>
}