@model StatisticsPackagesViewModel
@{
    ViewBag.Title = "Package Download Statistics";
    ViewBag.Tab = "Statistics";
    Layout = "~/Views/Shared/Gallery/Layout.cshtml";
}

<div class="container main-container page-statistics-most-downloaded">
    <div class="row">
        <div class="col">
            <h1>Most Downloaded Packages</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Top 100 Over the Last 6 Weeks</h2>
        </div>
    </div>
    <div class="row">
        <div class="col table">
            @{
                // Bootstrap grid variables that must be aligned.
                var indexColumns = 1;
                var packageColumns = 8;
                var downloadsColumns = 3;
            }

            <div class="row headings">
                <div class="col-xs-@indexColumns"></div>
                <div class="col-xs-@packageColumns">Package</div>
                <div class="col-xs-@downloadsColumns">Downloads</div>
            </div>

            @{
                var index = 0;
                foreach (var item in Model.DownloadPackagesAll)
                {
                    index++;

                    <div class="row data">
                        <div class="col-xs-@indexColumns cell">@index</div>
                        <div class="col-xs-@packageColumns cell"><a href="@Url.Package(item.PackageId)">@item.PackageId</a></div>
                        <div class="col-xs-@downloadsColumns cell"><a href="@Url.StatisticsPackageDownloadByVersion(item.PackageId)">@Model.DisplayDownloads(item.Downloads)</a></div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="row">
        @Html.Partial("_LastUpdated", Model)
    </div>
</div>

