@model StatisticsPackagesViewModel
@{
    ViewBag.Title = "Package Version Download Statistics";
    ViewBag.Tab = "Statistics";
    Layout = "~/Views/Shared/Gallery/Layout.cshtml";
}

<div class="container main-container page-statistics-most-downloaded">
    <div class="row">
        <div class="col">
            <h1>Most Downloaded Package Versions</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Top 500 Over the Last 6 Weeks</h2>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr class="package-versions">
                    <th>&nbsp;</th>
                    <th>Package</th>
                    <th>Version</th>
                    <th>Downloads</th>
                </tr>
            </thead>

            <tbody>
                @{
                    var index = 0;
                    foreach (var item in Model.DownloadPackageVersionsAll)
                    {
                        index++;

                        <tr>
                            <td>@index</td>
                            <td><a href="@Url.Package(item.PackageId)">@item.PackageId</a></td>
                            <td><a href="@Url.Package(item.PackageId, item.PackageVersion)">@item.PackageVersion</a></td>
                            <td><a href="@Url.StatisticsPackageDownloadsDetail(item.PackageId, item.PackageVersion)">@Model.DisplayDownloads(item.Downloads)</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        @Html.Partial("_LastUpdated", Model)
    </div>
</div>
