@model StatisticsPackagesViewModel
@{
    ViewBag.Title = "Package Downloads for " + Model.PackageId;
    ViewBag.Tab = "Statistics";
}

@if (Model.IsReportAvailable && Model.Report != null)
{
    <h1 class="statistics-report-title">Package Downloads for <a href="@Url.Package(Model.PackageId)">@Model.PackageId</a> (@Model.Report.Total over the Last 6 Weeks)</h1>
    @Html.Partial("_LastUpdated", Model)
    @Html.Partial("_PivotTable", Model.Report)
}
else
{
    <h1 class="statistics-report-title">Package Downloads for <a href="@Url.Package(Model.PackageId)">@Model.PackageId</a></h1>
    <p>
        Download statistics are not currently available for this package, please check back later. 
    </p>
}

@section BottomScripts
{
    @if (Model.UseD3)
    {
        @Scripts.Render("~/Scripts/d3.v3.min.js")
    }
    @Scripts.Render("~/Scripts/statsdimensions.js")
    @Scripts.Render("~/Scripts/perpackagestatsgraphs.js")
    <script>
        $(document)
            .ready(function () {
                groupbyNavigation();
                packageDisplayGraphs();

                @if (Model.IsReportAvailable)
                {
                    <text>
                if ($('.dimension-checkbox:checked').length == 0) {
                    var search = location.search.toLowerCase();
                    if (search.indexOf('groupby=@Constants.StatisticsDimensions.ClientName.ToLowerInvariant()') >= 0 ||
                        search.indexOf('groupby=@Constants.StatisticsDimensions.ClientVersion.ToLowerInvariant()') >= 0 ||
                        search.indexOf('groupby=@Constants.StatisticsDimensions.Operation.ToLowerInvariant()') >= 0) {
                        location.reload();
                    }
                }
                </text>
                }
            });
    </script>
}
