@model StatisticsPackagesViewModel
@{
    ViewBag.Title = "Package Downloads for " + Model.PackageId + "/" + Model.PackageVersion;
    ViewBag.Tab = "Statistics";
    Layout = "~/Views/Shared/Gallery/Layout.cshtml";
}

<div class="container main-container page-stats-per-package">
    <div class="row">
        <h1 class="statistics-report-title col-sm-12 page-heading">
            Package Downloads for <a href="@Url.Package(Model.PackageId, Model.PackageVersion)">@Model.PackageId @Model.PackageVersion</a>
        </h1>
    </div>

    @Html.Partial("_PivotTable")
</div>

@section BottomScripts
{
    @Scripts.Render("~/Scripts/gallery/stats.min.js")
    <script>
        $(document)
            .ready(function () {
                renderGraph('@Url.Action("PackageDownloadsDetailReport", "Statistics")', location.search);
            });
    </script>
}
