@using NuGetGallery;
<!DOCTYPE html> 
<html lang="en" class="static "> 
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>NuGet Gallery</title> 
        <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" />
        <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
        <script src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")"></script>
        @MvcMiniProfiler.MiniProfiler.RenderIncludes()
        @Analytics.GetGoogleHtml("UA-177588-7")
    </head>
    <body>
        <div id="content-wraper">
            <header class="main">
                <div id="logo"><a href="@Url.Home()">NuGet Gallery</a></div>
                @Html.Partial(MVC.Shared.Views.UserDisplay)
            </header>
            <nav class="main">
                <ul id="menu">
                    @{
                        var homeClass = ViewBag.Tab == "Home" ? "current" : "";
                        var packagesClass = ViewBag.Tab == "Packages" ? "current" : "";
                        var uploadClass = ViewBag.Tab == "Upload" ? "current" : "";
                    }
                    <li class="@homeClass"><a href="@Url.Home()">Home</a></li>
                    <li class="@packagesClass"><a href="@Url.PackageList()">Packages</a></li>
                    <li class="@uploadClass"><a href="@Url.UploadPackage()" class="upload">Upload Package</a></li>
                    <li><a href="http://docs.nuget.org">Documentation</a></li>
                </ul>
                <div id="searchBox">
                    <form action="@Url.PackageList()" method="get">
                        <input name="q" id="searchBoxInput" placeholder="Search Packages" value="@(String.IsNullOrEmpty(ViewBag.SearchTerm) ? "" : ViewBag.SearchTerm)" />
                        <input id="searchBoxSubmit" type="submit" value=" " />
                    </form>
                </div>
            </nav>
            <div id="body">
            @if (TempData.ContainsKey("Message")) {
                <p class="message">@TempData["Message"]</p>
            }
            @RenderBody()
            </div>
        </div>
        <div id="layout-footer" class="group">
            <footer id="footer">
                <ul class="recommended">
                    <li>
                        <a href="http://docs.nuget.org/docs/start-here/overview">Overview</a>
                        <p>NuGet is a Visual Studio 2010 extension that makes it easy to add, remove, and update libraries and...</p>
                    </li>
                    <li>
                        <a href="http://docs.nuget.org/docs/start-here/installing-nuget">Install</a>
                        <p>NuGet can be installed and updated using the Visual Studio Extension Manager. To check if your copy...</p>
                    </li>
                    <li>
                        <a href="http://docs.nuget.org/docs/start-here/videos">Videos</a>
                        <p>Watch screencasts and presentations about anything and everything NuGet.</p>
                    </li>
                    <li>
                        <a href="http://docs.nuget.org/docs/start-here/nuget-faq">FAQ</a>
                        <p>Read the Frequently Asked Questions about NuGet and see if your question made the list.</p>
                    </li>
                </ul>
                <div class="license">
                    <p>
                        &copy; @DateTime.UtcNow.Year Outercurve Foundation.
                    </p>
                    @ViewHelpers.ReleaseTag()
                </div>
            </footer>
        </div>
        <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")"></script>
        @RenderSection("BottomScripts", required: false)
    </body>
</html>