@using NuGetGallery;
<!DOCTYPE html> 
<html lang="en" class="static "> 
    <head> 
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>NuGet Gallery</title> 
        <link href="@Url.Content("~/Content/orchard.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/nuget.css")" rel="stylesheet" type="text/css" />
        <!--[if IE 7]><link href="@Url.Content("~/Content/ie7.css")" media="screen, projection" rel="stylesheet" type="text/css" /><![endif]-->
        <link href="@Url.Content("~/Content/nuget.ico")" rel="shortcut icon" type="image/x-icon" />
        <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/html5.js")" type="text/javascript"></script>
        <script>(function (d) { d.className = "dyn" + d.className.substring(6, d.className.length); })(document.documentElement);</script> 
        @MvcMiniProfiler.MiniProfiler.RenderIncludes()
    </head>
    <body>
        <div id="layout-wrapper">
            <header id="layout-header" class="group">
                <div id="header">
                    <div class="zone zone-header">
                        <h1 id="branding"><a href="@Url.RouteUrl("Home")">NuGet Gallery</a></h1>
                        @Html.Partial("UserDisplay")
                    </div>
                </div>
            </header>
            <div id="layout-navigation" class="group">
                <div class="zone zone-navigation">
                    <nav>
                        <ul class="menu menu-main">
                            @* TODO: move tabs into partial and refactor to remove duplicaton of code *@
                            @* TODO: move tab identifiers to the Const static class *@
                            @{
                                var homeClass = ViewBag.Tab == "Home" ? "current" : "";
                                var packagesClass = ViewBag.Tab == "Packages" ? "current" : "";
                                var contributeClass = ViewBag.Tab == "Contribute" ? "current" : "";
                            }
                            <li class="@homeClass"><a href="/">Home</a></li>
                            <li class="@packagesClass"><a href="@Url.PackageListUrl()">Packages</a></li>
                            <li class="@contributeClass"><a href="@Url.RouteUrl(RouteName.Contribute)">Contribute</a></li>
                            <li><a href="http://docs.nuget.org">Documentation</a></li>
                        </ul>

                        <form id="search-form" action="@Url.PackageListUrl()" method="get">
                            <div id="search">
                                <div>
                                    <input type="text" name="q" id="searchTerm" value="@(ViewBag.SearchTerm ?? "Search Packages")" />
                                </div>
                                @* TODO: This hidden input hack can go away when we fully restructure the UI*@
                                <input type="hidden" name="sortOrder" value="" />
                                <input type="hidden" name="pageSize" value="" />
                                <input type="submit" value=" "/>
                            </div>
                        </form>
                    </nav>
                </div>
            </div>
            @RenderBody()
        </div>
        <div id="layout-footer" class="group">
            <footer id="footer">
                <h5 class="logo"><a href="#">Orchard Gallery</a></h5>
                <div id="footer-quad" class="group">
                    <div id="footer-quad-first">
                        <div class="zone zone-footer-quad-first">
                            <div style="margin: 33px 0 0 40px;">
                                <ul style="margin:0; font-size:1.2em; width:400px;">
                                    <li style="display:block; float:left;"><a href="#">Home</a>&nbsp;&#124;&nbsp;</li>
                                    <li style="display:block; float:left;"><a href="#">Packages</a>&nbsp;&#124;&nbsp;</li>
                                    <li style="display:block; float:left;"><a href="#">Contribute</a>&nbsp;&#124;&nbsp;</li>
                                    <li style="display:block; float:left;"><a href="#">Terms of Use</a>&nbsp;&#124;&nbsp;</li>
                                    <li style="display:block; float:left;"><a href="#">Privacy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="footer-quad-second">
                        <div class="zone zone-footer-quad-second">
                        </div>
                    </div>
                    <div id="footer-quad-third">
                        <div class="zone zone-footer-quad-third">
                        </div>
                    </div>
                    <div id="footer-quad-fourth">
                        <div class="zone zone-footer-quad-fourth">
                        </div>
                    </div>
                </div>
                <div id="footer-sig" class="group">
                    <div class="zone zone-footer">
                        <div class="credits">
                            <span class="poweredby">Powered by <a href="http://www.orchardproject.net" target="_blank">Orchard</a></span> <span class="copyright">&#169; 2010 Outercurve Foundation.</span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-177588-7']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        @RenderSection("BottomScripts", false)
        <script src="@Url.Content("~/Scripts/global.js")" type="text/javascript"></script>
    </body>
</html>