@model AccountViewModel
@{
    var account = Model.Account;

    if (Model.IsOrganization)
    {
        ViewBag.ConfirmationLink = Url.OrganizationConfirmationRequired(account.Username);
        ViewBag.UnconfirmedEmailMessage = "A new organization email address was recently registered: ";
        ViewBag.ConfirmNowLinkText = "confirm your organization account";
    }
    else
    {
        ViewBag.ConfirmationLink = Url.ConfirmationRequired();
        ViewBag.UnconfirmedEmailMessage = "You recently registered a new email address: ";
        ViewBag.ConfirmNowLinkText = "confirm your account";
    }
}

@if (Model.HasUnconfirmedEmailAddress && Model.HasConfirmedEmailAddress)
{
    @ViewHelpers.AlertInfo(@<text>
        @ViewBag.UnconfirmedEmailMessage <strong>@account.UnconfirmedEmailAddress</strong><br />

        @if (Model.HasConfirmedEmailAddress)
        {
            <text>
                We will continue sending notification emails to the old verified email address (@account.EmailAddress)
                until the <a href="@ViewBag.ConfirmationLink">new email address is verified.</a>
            </text>
        }
        else
        {
            <text>
                We will only send notification emails after the <a href="@ViewBag.ConfirmationLink">email address has been verified.</a><br />
            </text>
        }
    </text>)
}

@if (!account.Confirmed)
{
    @ViewHelpers.AlertInfo(
    @<text>
        Uploading packages requires that you <a href="@ViewBag.ConfirmationLink">@ViewBag.ConfirmNowLinkText</a>. Why not get that out of the way now?
    </text>)
}