@using Links
@model ListPackageItemViewModel
<section class="package @(Model.IsOwner(User) ? "my-package" : null)">
    <div class="side">
        <a href="@Url.Package(Model)" title="View more about @Model.Title">
            <img src="@(Model.IconUrl ?? Content.Images.packageDefaultIcon_50x50_png)" alt="@Model.Id icon" onerror="this.src = '@Content.Images.packageDefaultIcon_50x50_png';" />
        </a>
    </div>
    <div class="main">
        <header class="package-list-header">
            <h1><a href="@Url.Package(Model.Id, Model.UseVersion ? Model.Version : null)">@Model.Title</a></h1>
            <h2 id="owners-subheader">By:</h2>
            <ul class="owners">
                @foreach (var owner in Model.Owners)
                {
                    <li><a href="@Url.User(owner)" title="@owner.Username">@owner.Username</a></li>
                }
            </ul>
        </header>

        <p>
            @if (String.IsNullOrEmpty(Model.Description) || Model.Description.Length < 350)
            {
                @Model.Description
            }
            else
            {
                @Model.Description.Substring(0, 350)<text>... </text>
                <a href="@Url.Package(Model)">More information</a>
            }
        </p>

        @if (!String.IsNullOrEmpty(Model.MinClientVersion)) 
        {
            <div class="minimum-client-version">
                Requires NuGet @Model.MinClientVersion or higher.
            </div>
        }
    
        <footer>
            <p class="downloads">
                @Model.TotalDownloadCount.ToString("n0") @(Model.TotalDownloadCount == 1 ? "download" : "downloads")
            </p>
            
            @if (@Model.Tags.AnySafe())
            {
                <div class="tags">
                    <h2>Tags</h2>
                    <ul class="tags">
                        @foreach (var tag in Model.Tags)
                        {
                            <li><a href="@Url.Search("Tags:\"" + tag + "\"")" title="Search for @tag">@tag</a></li>
                        }
                    </ul>
                </div>
            }

            @if (Config.Features.FriendlyLicenses && !Model.HideLicenseReport && Model.LicenseNames.AnySafe())
            {
                <div class="licenses">
                    <h2>Licenses</h2>
                    <p>
                        @if (Model.LicenseNames.Count() > 3)
                        {
                            @String.Concat(String.Join(", ", Model.LicenseNames.Take(3)), ", ...")
                        }
                        else
                        {
                            @String.Join(", ", Model.LicenseNames)
                        }
                    </p>
                </div>
            }
        </footer>
    </div>
</section>