<!DOCTYPE html> 
<html lang="en" class="static " data-root="@Href("~/")">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        @RenderSection("SocialMeta", required: false)
        @RenderSection("Meta", required: false)

        <title>
            @(Config.Current.Brand) 
            @(String.IsNullOrWhiteSpace(ViewBag.Title) ? "" : "| " + ViewBag.Title)</title>
        
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/font-awesome/css")
        <!--[if IE 7]>
        @Styles.Render("~/Content/font-awesome-ie7.min.css")
        <![endif]-->

        <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />

        @Scripts.Render("~/Scripts/modernizr")
        @ViewHelpers.AnalyticsScript()
        @RenderSection("TopScripts", required: false)
        @ViewHelpers.ReleaseMeta()
    </head>
    <body class="s-noclickonce">
        <div id="service-alert"></div>
        <div id="outer-wrapper">
            <div id="content-wrapper">
                <header class="main">
                    <div id="logo"><a href="@Url.Home()">@(Config.Current.Brand)</a></div>
                    <div id="header-sidebox">
                        <div id="searchBox" role="search">
                            <form action="@Url.PackageList()" method="get">
                                <input name="q" id="searchBoxInput" class="expanding-search" placeholder="Search Packages" value="@(String.IsNullOrEmpty(ViewBag.SearchTerm) ? "" : ViewBag.SearchTerm)" autocomplete="off" @(Request.Url != null && (Request.Url.PathAndQuery == "/" || Request.Url.PathAndQuery == "/packages") ? "autofocus" : string.Empty) />
                                <input id="searchBoxSubmit" type="submit" value="Submit" />
                            </form>
                        </div>
                        @Html.Partial("UserDisplay")
                    </div>
                </header>
                <nav class="main">
                    @Html.Partial("SiteMenu")
                </nav>
                <div id="body" role="main">
                    @if (TempData.ContainsKey("Message"))
                    {
                        <p class="message">@TempData["Message"]</p>
                    }
                    @RenderBody()
                </div>
            </div>
            <div id="layout-footer" class="group">
                <footer id="footer">
                    @Html.Partial("LayoutFooter")
                </footer>
            </div>
        </div>
        @Scripts.Render("~/Scripts/all")
        @RenderSection("BottomScripts", required: false)
    </body>
</html>
