<!DOCTYPE html> 
<html lang="en" class="static " data-root="@Href("~/")">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        @RenderSection("SocialMeta", required: false)
        @RenderSection("Meta", required: false)

        <title>
            @(Config.Current.Brand) 
            @(String.IsNullOrWhiteSpace(ViewBag.Title) ? "" : "| " + ViewBag.Title)</title>
        
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/font-awesome/css")
        <!--[if IE 7]>
        @Styles.Render("~/Content/font-awesome-ie7.min.css")
        <![endif]-->

        <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />

        @Scripts.Render("~/Scripts/modernizr")
        @ViewHelpers.AnalyticsScript()
        @RenderSection("TopScripts", required: false)
        @ViewHelpers.ReleaseMeta()
    </head>
<body class="s-noclickonce">
    <div id="service-alert"></div>
    <header class="header">
        <a href="/"><img class="logo" src="/images/logo.png" border="0" /></a>
        <div class="search">
            <form action="@Url.PackageList()" method="get" novalidate="novalidate">
                <input id="searchbox" type="search" name="q" placeholder="SEARCH PACKAGES" autocomplete="off" />
                <input type="submit" id="searchbutton" value=" " />
            </form>
        </div>
        <nav>
            @Html.Partial("SiteMenu")
        </nav>
        <div id="user-display">
            @Html.Partial("UserDisplay")
        </div>
        <div style="clear:both"></div>
    </header>

    @if (TempData.ContainsKey("Message"))
    {
        <p class="message">@TempData["Message"]</p>
    }
    @RenderBody()

    <footer id="footer" class="page">
        @Html.Partial("LayoutFooter")
    </footer>
    @Scripts.Render("~/Scripts/all")
    @RenderSection("BottomScripts", required: false)
</body>

</html>
