@model PackageListViewModel
@{
    ViewBag.Title = String.IsNullOrWhiteSpace(Model.SearchTerm) ? "Packages" : "Packages matching " + Model.SearchTerm;
    ViewBag.SortText = String.IsNullOrWhiteSpace(Model.SearchTerm) ? "recent installs" : "relevance";
    ViewBag.Tab = "Packages";
    Layout = "~/Views/Shared/Gallery/Layout.cshtml";
}

<section role="main" class="container main-container page-list-packages">
    <h1>
        @if (String.IsNullOrEmpty(Model.SearchTerm))
        {
            if (Model.TotalCount == 1)
            {
                <text>There is 1 package</text>
            }
            else
            {
                <text>There are @Model.TotalCount packages</text>
            }
        }
        else
        {
            if (Model.TotalCount == 1)
            {
                <text>1 package </text>
            }
            else
            {
                <text>@Model.TotalCount.ToNuGetNumberString() packages </text>
            }

            <text>returned for @Model.SearchTerm</text>
        }

    </h1>

    <div class="list-packages" role="list">
        @foreach (var package in Model.Items)
        {
            @Html.Partial("_ListPackage", package)
        }
    </div>

    @ViewHelpers.PreviousNextPager(Model.Pager)
</section>