@{
    Layout = "Layout.cshtml";
}

@section SocialMeta {
    @RenderSection("SocialMeta", required: false)
}
@section Meta {
    @RenderSection("Meta", required: false)
}

<div id="sideColumn">
    @RenderSection("SideColumn")
</div>
<div id="mainColumn" role="main">
    @RenderBody()
</div>

<div class="clear-fix"><!--Sad Panda--></div>

@section BottomScripts {
    @RenderSection("BottomScripts", required: false)
}