<div class="user-display">
    @if (!User.Identity.IsAuthenticated)
    {
        string returnUrl = ViewData.ContainsKey(Constants.ReturnUrlViewDataKey) ? (string)ViewData[Constants.ReturnUrlViewDataKey] : Request.RawUrl;
        <span class="welcome">@Html.ActionLink("Sign In", "LogOn", "Authentication", new { returnUrl = returnUrl }, null)</span>
        <a href="@Url.Action(MVC.Users.Register())" class="register">Register</a>
    }
    else
    {
        <span class="welcome"><a href="@Url.Action(MVC.Users.Account())">@User.Identity.Name</a></span>
        <span class="user-actions">
            <a href="@Url.SignOut()">Sign Out</a> 
        </span>
    }
</div>