@model ReservedNamespaceListViewModel

<div class="row user-package-list">
    <div class="col-md-12">
        <div class="panel-collapse collapse in" id="namespaces-container" aria-expanded="true">
            <div class="list-packages" role="list">
                <table class="table">
                    <thead>
                        <tr class="manage-package-headings">
                            <th class="hidden-xs"></th>
                            <th>Package ID or Prefix</th>
                            <th>Owners</th>
                            <th>Upload Restrictions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var reservedNamespace in @Model.ReservedNamespaces)
                        {
                            <tr class="manage-package-listing">
                                <td class="align-middle hidden-xs">
                                    <img class="reserved-indicator-icon img-responsive"
                                         src="~/Content/gallery/img/reserved-indicator.svg"
                                         @ViewHelpers.ImageFallback(Url.Absolute("~/Content/gallery/img/reserved-indicator-256x256.png"))
                                         title="@Strings.ReservedNamespace_ReservedIndicatorTooltip" />
                                </td>
                                <td class="align-middle reserved-id">
                                    <a target="_blank" href="@Url.Search(reservedNamespace.Value)">@reservedNamespace.GetPattern()</a>
                                </td>
                                <td class="align-middle">
                                    @foreach (var owner in reservedNamespace.Owners)
                                    {
                                        <a target="_blank" href="@Url.User(owner.Username)">@owner.Username</a>
                                    }
                                </td>
                                @if (reservedNamespace.IsPublic)
                                {
                                    <td class="align-middle">Any NuGet.org Account</td>
                                }
                                else
                                {
                                    <td class="align-middle">Prefix or ID Owners Only</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>