@model UserAccountViewModel
@{
    var parent = (WebViewPage)TempData["Parent"];
}

@foreach (var cred in Model.CredentialGroups[CredentialKind.External])
{
    @ViewHelpers.Section(parent,
        "change-credential-" + cred.Key,
        @<text>Login Account</text>,
        @<text>@cred.TypeCaption (@cred.Identity)</text>,
            @<text>
                <p>You can use this account to sign in to @(Config.Current.Brand).</p>
                            
                @using (Html.BeginForm("LinkOrChangeExternalCredential", "Users"))
                {
                    @Html.AntiForgeryToken()

                    <div class="row form-group">
                        <div class="col-sm-6">
                            <button class="btn btn-danger btn-block" type="submit"
                                    data-confirm="This action will replace all of your linked accounts and password login with the new login account. Are you sure you want to change your login account?">
                                Change Account
                            </button>
                        </div>
                        <div class="col-sm-6">
                            <a href="#" role="button" class="btn btn-default btn-block" id="cancel-change-credential-@cred.Key">
                                Cancel
                            </a>
                        </div>
                    </div>
                }
            </text>)
}