@model ManagePackagesListViewModel
@{
    var packagesString = "package" + (Model.Packages.Count() != 1 ? "s" : "");
    
    var numDownloads = Model.Packages.Sum(p => (long)p.TotalDownloadCount);
    var downloadsString = "download" + (numDownloads != 1 ? "s" : "");
}

<div class="row user-package-list">
    <div class="col-md-12">
        <h2>
            <a href="#" role="button" data-toggle="collapse" data-target="#packages-@Model.Name"
               aria-expanded="true" aria-controls="packages-@Model.Name" id="show-packages-@Model.Name">
                <i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
                <span>My @Model.Name Packages</span>
            </a>
        </h2>
        <div class="panel-collapse collapse in" id="packages-@Model.Name" aria-expanded="true">
            <p>
                You have <b>@Model.Packages.Count().ToNuGetNumberString() @Model.Name.ToLowerInvariant() @packagesString</b>
                with a total of <b>@numDownloads.ToNuGetNumberString() @downloadsString</b>
            </p>
            <div class="list-packages" role="list">
                <table class="table">
                    <thead>
                        <tr class="manage-package-headings">
                            <th class="hidden-xs"></th>
                            <th>Package ID</th>
                            <th>Owners</th>
                            <th>Downloads</th>
                            <th>Latest Version</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var package in @Model.Packages)
                    {
                        <tr class="manage-package-listing">
                            <td class="align-middle hidden-xs">
                                <img class="package-icon img-responsive" aria-hidden="true" alt="" 
                                     src="@(PackageHelper.ShouldRenderUrl(package.IconUrl) ? package.IconUrl : Url.Absolute("~/Content/gallery/img/default-package-icon.svg"))" 
                                     @ViewHelpers.ImageFallback(Url.Absolute("~/Content/gallery/img/default-package-icon-256x256.png")) />
                            </td>
                            <td class="align-middle package-id"><a href="@Url.Package(package.Id)">@Html.BreakWord(package.Id)</a></td>
                            <td class="align-middle">
                            @foreach (var owner in package.Owners)
                            {
                                @ViewHelpers.UserLinkWithIcon(Url, owner);
                            }
                            </td>
                            <td class="align-middle text-nowrap">@package.TotalDownloadCount.ToNuGetNumberString()</td>
                            <td class="align-middle text-nowrap">@package.FullVersion.Abbreviate(25)</td>
                            <td class="text-right align-middle package-controls">
                                @if (package.CanEdit)
                                {
                                    <a href="@Url.EditPackage(package.Id, package.Version)" class="btn" title="Edit Package" aria-label="Edit Package @package.Id  Version @package.Version">
                                        <i class="ms-Icon ms-Icon--Edit" aria-hidden="true"></i>
                                    </a>
                                }
                                @if (package.CanManageOwners)
                                {
                                    <a href="@Url.ManagePackageOwners(package)" class="btn" title="Manage Owners" aria-label="Manage Owners for Package @package.Id">
                                        <i class="ms-Icon ms-Icon--People" aria-hidden="true"></i>
                                    </a>
                                }
                                @if (package.CanUnlistOrRelist)
                                {
                                    <a href="@Url.DeletePackage(package)" class="btn" title="Delete Package" aria-lable="Delete Package @package.Id  Version @package.Version">
                                        <i class="ms-Icon ms-Icon--Delete" aria-hidden="true"></i>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>