@model ManagePackagesListViewModel
@{
    var packagesString = "package" + (Model.Packages.Count() != 1 ? "s" : "");
    
    var numDownloads = Model.Packages.Sum(p => p.DownloadCount);
    var downloadsString = "download" + (numDownloads != 1 ? "s" : "");
}

<div class="row">
    <div class="col-md-12">
        <h2>
            <a href="#" role="button" data-toggle="collapse" data-target="#packages-@Model.Name"
               aria-expanded="true" id="show-packages-@Model.Name">
                <i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
                <span>My @Model.Name Packages</span>
            </a>
        </h2>
        <div class="panel-collapse collapse in" id="packages-@Model.Name" aria-expanded="true">
            <p>You have <b>@Model.Packages.Count() @Model.Name.ToLowerInvariant() @packagesString</b> with a total of <b>@numDownloads @downloadsString</b></p>
            <div class="list-packages" role="list">
                @foreach (var package in @Model.Packages)
            {
                    @Html.Partial("_ListPackage", package)
                }
            </div>
        </div>
    </div>
</div>