@model UserAccountViewModel
@{
    ViewBag.Title = "Account Settings";
    ViewBag.MdPageColumns = Constants.ColumnsFormMd;
    Layout = "~/Views/Shared/Gallery/Layout.cshtml";

    TempData["Parent"] = this;
}

<section role="main" class="container main-container page-account-settings">
    <div class="row">
        <div class="@ViewHelpers.GetColumnClasses(ViewBag)">
            <h1><a href="@Url.User(CurrentUser.Username)" aria-label="View my profile"><i class="ms-Icon ms-Icon--Contact" aria-hidden="true"></i></a> &gt; Account Settings</h1>

            @Html.Partial("_AccountConfirmationNotices", Model)

            @Html.Partial("_AccountChangeEmail", Model)

            @Html.Partial("_AccountChangeNotifications", Model)

            @if (Model.CredentialGroups.ContainsKey(CredentialKind.External))
            {
                @Html.Partial("_UserAccountChangeExternalCredential", Model)
            }
            else
            {
                @Html.Partial("_UserAccountLinkExternalCredential", Model)
            }

            @if (Model.HasPassword)
            {
                @Html.Partial("_UserAccountChangePassword", Model)
            }
            
            @Html.Partial("_AccountProfilePicture", Model)

            @Html.Partial("_AccountCuratedFeeds", Model)
        </div>
    </div>
</section>

@section bottomScripts {
    @ViewHelpers.SectionsScript(this)
    @Scripts.Render("~/Scripts/gallery/page-account.min.js")
}
