APIKEYS.CSHTML

﻿@using Newtonsoft.Json
@model ApiKeyListViewModel
@using NuGetGallery.Authentication
@{
    ViewBag.Title = "API Keys";
    ViewBag.MdPageColumns = GalleryConstants.ColumnsFormMd;
}

<section role="main" class="container main-container page-api-keys">
    @ViewHelpers.AjaxAntiForgeryToken(Html)
    <div class="row">
        <div class="@ViewHelpers.GetColumnClasses(ViewBag)">
            @ViewHelpers.BreadcrumbWithProfile(Url, CurrentUser, true, @<text>API keys</text>)

            @ViewHelpers.Alert(
                                    @<text>
                                        <strong>API keys are being phased out for GitHub publishers.</strong>
                                        If you are using GitHub Actions, switch to <a href="@Url.ManageMyTrustedPublishing()">Trusted Publishing</a> now for a more secure, keyless publishing experience from GitHub Actions.
                                    </text>,
             "warning", icon: null)

            <p>
                An API key is a token that can identify you to @(Config.Current.Brand). The
                <a href="https://docs.nuget.org/Consume/Command-Line-Reference">NuGet command-line utility</a> allows
                you to submit a NuGet package to the gallery using your API key to authenticate.
            </p>
            @if (!CurrentUser.Confirmed)
            {
                @ViewHelpers.AlertWarning(
                                            @<text>
                                                To get an API Key you will need to
                                                <a href="@Url.ConfirmationRequired()">confirm your account</a>.
                                            </text>)
            }
            else
            {
                <p>
                    <strong>Always keep your API keys a secret! If an API key is ever exposed, revoke it immediately and generate a new one to maintain security.</strong>
                </p>

                <div data-bind="template: 'error-container'"></div>

                @ViewHelpers.Section(this,
                                        "create",
                                        "Create",
                                            @<text>
                                                <div class="upsert-api-key">
                                                    <div class="panel-body" data-bind="template: { name: 'upsert-api-key', data: NewApiKey }"></div>
                                                </div>
                                            </text>,
  expanded: false,
  expandedIcon: "Subtraction",
  collapsedIcon: "Add")

                @ViewHelpers.Section(this,
                                        "manage",
                                        "Manage",
                                            @<text>
                                                <div data-bind="template: 'manage-api-keys'"></div>
                                            </text>)
            }
        </div>
    </div>
</section>
