@model ChangeEmailRequestModel
@{
    ViewBag.Title = "Change Email Address";
}

<h1 class="page-heading">Change Email Address</h1>

@using (Html.BeginForm())
{
    <fieldset class="form">
        <legend>Change Email Address Form</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.EditorForModel()

        <img src="@Url.Content("~/content/images/required.png")" alt="Blue border on left means required." />

        <input type="submit" value="Save" title="Change email address" />
        <a class="cancel" href="@Url.Action("Edit")" title="Cancel changes and go back.">Cancel</a>
    </fieldset>
}