@model PasswordChangeViewModel
@{
    ViewBag.Title = "Change Password";
}

<h1 class="page-heading">Change Password</h1>

@using (Html.BeginForm())
{
    <fieldset class="form">
        <legend>Change Password Form</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.EditorForModel()

        <img src="@Url.Content("~/content/images/required.png")" alt="Blue border on left means required." />

        <input type="submit" value="Save" title="Change password" />
        <a class="cancel" href="@Url.Action("Account")" title="Cancel changes and go back.">Cancel</a>
    </fieldset>
}