@model ConfirmationRequiredViewModel
@{
    ViewBag.Title = "Confirmation Required";
}

<h2>Confirm Your Email Address</h2>

<p class="long note">
    You must confirm your email address before you can @(Model.UserAction). 
    Please check your spam folder if you did not receive the confirmation email.
</p>

@Html.BeginForm()
{
    <fieldset class="form">
        <legend>Confirm Email Address</legend>
        @Html.Hidden("userAction", Model.UserAction);
        @Html.Hidden("returnUrl", Model.ReturnUrl);
        @Html.AntiForgeryToken()

        <input type="submit" value="Send Email" title="Send Email" /> @Html.ActionLink("Wrong Email Address?", "Edit", "Users")
    </fieldset>
}

<p>
Once you have confirmed your address <a href="@((string)ViewData[Constants.ReturnUrlViewDataKey]))"> click here to continue</a>
</p>

<p class="validation-summary-errors">
    @Html.ActionLink("Lost your confirmation email?", "ResendConfirmation", "Users")
</p>