@model ConfirmationViewModel
@{
    var titleString = Model.ConfirmingNewAccount ? "Account" : "Email";
    ViewBag.Title = "Confirm Your " + titleString;
    Layout = "~/Views/Shared/Gallery/Layout.cshtml";
}

<section class="container main-container" role="main">
    <div class="row">
        <div class="col-sm-12">
            @if (Model.SentEmail)
            {
                <h1 class="text-center">Confirmation Email Sent</h1>
            }
            else
            {
                <h1 class="text-center">Confirm Your @(Model.ConfirmingNewAccount ? "Account" : "Email")</h1>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            @if (Model.SentEmail)
            {
                <p class="text-center">
                    Please make sure to check your spam folder if you did not receive the confirmation email.
                </p>
            }
            else
            {
                if (TempData.ContainsKey("ConfirmationRequiredMessage"))
                {
                    @ViewHelpers.AlertInfo(@<text>@((string)TempData["ConfirmationRequiredMessage"])</text>)
                }

                if (Model.AlreadyConfirmed)
                {
                    <p class="text-center">
                        Your email address has already been confirmed.
                    </p>
                }
                else
                {
                    <p class="text-center">
                        A confirmation link was sent to you (@Model.UnconfirmedEmailAddress) when you @(Model.ConfirmingNewAccount ? "created your account" : "changed your email"). Please click on that link to verify your email address.
                    </p>
                    <p class="text-center">
                        If you cannot find this email (be sure to check your spam folder), you can resend the confirmation email.
                    </p>
                    <p class="text-center">
                        If you're still having trouble, you can <a class="ms-noWrap" href="mailto:@Config.Current.GalleryOwner.Address">contact support.</a>
                    </p>

                    @Html.Partial("_ConfirmationResendForm");
                }
            }
        </div>
    </div>
</section>