@model EditProfileViewModel
@{
    ViewBag.Title = "Edit Profile";
    var credGroups = Model.Credentials.GroupBy(c => c.Kind).ToDictionary(g => g.Key, g => g.ToList());

    CredentialViewModel apiKey = null;
    if (credGroups.ContainsKey(CredentialKind.Token))
    {
        apiKey = credGroups[CredentialKind.Token].Single();
    }

    var hasPassword = credGroups.ContainsKey(CredentialKind.Password);

    var loginCredentials = hasPassword ? 1 : 0;
    if (credGroups.ContainsKey(CredentialKind.External))
    {
        loginCredentials += credGroups[CredentialKind.External].Count;
    }

    var subscriptionAction = MVC.Users.ChangeEmailSubscription(!CurrentUser.EmailAllowed);
    var currentEmailAddress = CurrentUser.UnconfirmedEmailAddress ?? CurrentUser.EmailAddress;
}

<h1 class="page-heading">Edit Profile</h1>

@if (!String.IsNullOrEmpty(CurrentUser.UnconfirmedEmailAddress))
{
    <p class="message">
        You recently registered a new email address: <strong>@CurrentUser.UnconfirmedEmailAddress</strong><br />

        @if (!String.IsNullOrEmpty(CurrentUser.EmailAddress))
        {
            <text>We will continue sending notification emails to your old verified email address (@CurrentUser.EmailAddress)
            until you <a href="@Url.ConfirmationRequired()">verify your new email address.</a></text>
        }
        else
        {
            <text>We will only send you notification emails after you 
            <a href="@Url.ConfirmationRequired()">verify your email address.</a><br />
            </text>
        }
    </p>
}
    
<div class="form-field">
    <label>Email Address</label>
    <p>Your current email address is <em>@currentEmailAddress</em>
        @Html.ActionLink("(change)", "ChangeEmail", "Users")<br />
</div>
        
<div class="form-field">
    <label>Profile Picture</label>
    @ViewHelpers.GravatarImage(currentEmailAddress, CurrentUser.Username, 32)
    <p>
        @if (!String.IsNullOrEmpty(CurrentUser.UnconfirmedEmailAddress))
        {
            <text>This is a preview of how your profile picture will look once you have verified your
            current email address. </text>
        }
        We use your verified email address and <a href="http://www.gravatar.com" target="_blank">gravatar.com</a> 
        to get your profile picture. <a href="http://gravatar.com" target="_blank">Go to gravatar.com</a> 
        to change your profile picture.
    </p>
</div>

@using(Html.BeginForm(subscriptionAction)) {
    <fieldset class="form">
        <legend>Update Email Subscription</legend>
        @Html.AntiForgeryToken()
        <div class="form-field">
            <label for="EmailAllowed" class="checkbox">
                Receive Email Notifications 
            </label>
            <p>
                You are <em>@(CurrentUser.EmailAllowed ? "" : "not")</em> subscribed to email notifications.
            </p>
            <input type="submit" style="width: auto;" 
                value="@(CurrentUser.EmailAllowed ? "Unsubscribe" : "Subscribe")" 
                title="@(CurrentUser.EmailAllowed ? "Unsubscribe" : "Subscribe")" />
            <p>
                <strong>Important:</strong> Subscribing allows other registered users of the site to contact you 
                about packages that you own using the <em>Contact Owners</em> form, or to request that you become an owner 
                of their package. Unsubscribing means users cannot contact you for these reasons.
            </p>
        </div>
    </fieldset>
}

<h2>Credentials</h2>
<p>These are the credentials you can use to log in to your NuGet.org account or push packages</p>
<ul id="managecreds-list">
    @if (credGroups.ContainsKey(CredentialKind.External))
    {
        foreach (var cred in credGroups[CredentialKind.External])
        {
            <li class="managecreds-cred">
                <div class="managecreds-cred-actions">
                    @if (loginCredentials > 1)
                    {
                        using (Html.BeginForm("RemoveCredential", "Users", new { credentialType = cred.Type }, FormMethod.Post, new { @class = "form-inline" }))
                        {
                            <fieldset class="form">
                                <legend>Remove @cred.TypeCaption Credential</legend>
                                @Html.AntiForgeryToken()
                                @Html.Hidden(cred.Type)
                                <button class="btn btn-inline s-confirm" type="submit" data-confirm="Are you sure you want to disassociate your @cred.AuthUI.AccountNoun? This is an irreversable action!">Remove</button>
                            </fieldset>
                        }
                    }
                </div>
                <span class="managecreds-cred-caption">
                    @cred.TypeCaption
                </span>
                <span class="managecreds-cred-id">@cred.Identity</span>
            </li>
        }
    }
    <li class="managecreds-cred @(hasPassword ? null : "managecreds-cred-disabled")">
        <div class="managecreds-cred-actions">
            @if (hasPassword)
            {
                <a href="#" class="btn btn-inline s-expand" data-target="#managecreds-cred-changepassword" data-toggletext="@(ViewData.ModelState.IsValid ? "Cancel" : "Change")">@(ViewData.ModelState.IsValid ? "Change" : "Cancel")</a>
                if (loginCredentials > 1)
                {
                    using (Html.BeginForm("RemovePassword", "Users", FormMethod.Post, new { @class = "form-inline" }))
                    {
                        <fieldset class="form">
                            <legend>Remove Password</legend>
                            @Html.AntiForgeryToken()
                            <button class="btn btn-inline s-confirm" type="submit" data-confirm="Are you sure you want to remove your password? This is an irreversable action!">Remove</button>
                        </fieldset>
                    }
                }
            }
            else
            {
                using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post, new { @class = "form-inline" }))
                {
                    <fieldset class="form">
                        <legend>Enable Password</legend>
                        @Html.AntiForgeryToken()
                        <button class="btn btn-inline" type="submit">Enable</button>
                    </fieldset>
                }
            }
        </div>
        <span class="managecreds-cred-caption">
            @(hasPassword ? "Password" : "Password Login Disabled")
        </span>
        <div id="managecreds-cred-changepassword" class="@(ViewData.ModelState.IsValid ? "s-hidden" : null)">
            @using (Html.BeginForm("ChangePassword", "Users"))
            {
                <fieldset id="managecreds-cred-changepassword-fieldset" class="form">
                    <legend>Change Password Form</legend>

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummaryFor("ChangePassword")
                    <div class="form-field">
                        @Html.LabelFor(m => m.ChangePassword.OldPassword)
                        @Html.PasswordFor(m => m.ChangePassword.OldPassword)
                        @Html.ValidationMessageFor(m => m.ChangePassword.OldPassword)
                    </div>

                    <div class="form-field">
                        @Html.LabelFor(m => m.ChangePassword.NewPassword)
                        @Html.PasswordFor(m => m.ChangePassword.NewPassword)
                        @Html.ValidationMessageFor(m => m.ChangePassword.NewPassword)
                    </div>

                    <img src="@Url.Content("~/content/images/required.png")" alt="Blue border on left means required." />

                    <input type="submit" value="Change" title="Change password" />
                </fieldset>
            }
        </div>
    </li>
    <li class="managecreds-cred @(apiKey == null ? "managecreds-cred-disabled" : null)">
        <div class="managecreds-cred-actions">
            <a href="#" class="managecreds-moreinfo-button s-expand" data-target="#managecreds-cred-apikeyinfo" data-toggletext="Less Info">More Info</a>
            @if (CurrentUser.Confirmed)
            {
                using (Html.BeginForm("GenerateApiKey", "Users", FormMethod.Post, new { @class = "form-inline" }))
                {
                    <fieldset class="form">
                        <legend>@(apiKey == null ? "Generate an API Key" : "Generate a new API Key")</legend>
                        @Html.AntiForgeryToken()
                        <button class="btn btn-inline" type="submit">@(apiKey == null ? "Generate" : "Reset")</button>
                    </fieldset>
                }
            }
        </div>
        <span class="managecreds-cred-caption">
            API Key:
            @if (!CurrentUser.Confirmed)
            {
                <text>You need to <a href="@Url.ConfirmationRequired()">confirm your account</a> before viewing your API Key</text>
            }
            else if (apiKey == null)
            {
                <text>You don't have an API key</text>
            }
            else
            {
                <span id="key">@apiKey.Value</span>
                <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                        width="110"
                        height="14"
                        id="clippy"
                        aria-hidden="true"
                        role="presentation">
                    <param name="movie" value="@Url.Content("~/Content/clippy.swf")">
                    <param name="allowScriptAccess" value="always" />
                    <param name="quality" value="high" />
                    <param name="scale" value="noscale" />
                    <param name="FlashVars" value="text=@apiKey.Value">
                    <param name="bgcolor" value="#eff7fa">
                    <embed src="@Url.Content("~/Content/clippy.swf")"
                           width="110"
                           height="14"
                           aria-hidden="true"
                           role="presentation"
                           name="clippy"
                           quality="high"
                           allowscriptaccess="always"
                           type="application/x-shockwave-flash"
                           pluginspage="http://www.macromedia.com/go/getflashplayer"
                           flashvars="text=@apiKey.Value"
                           bgcolor="#eff7fa" />
                </object>
            }
        </span>
        <div id="managecreds-cred-apikeyinfo" class="s-hidden">
            @if (!CurrentUser.Confirmed)
            {
                <p>
                    Your API key provides you with a token that can identify you to the gallery. The
                    <a href="http://nuget.codeplex.com/">NuGet</a> command-line utility allows you to
                    submit a NuGet package to the gallery using your API key to authenticate.
                    To get an API Key you will need to <a href="@Url.ConfirmationRequired()">confirm your account.</a>
                </p>
            }
            else if (apiKey == null)
            {
                <p>
                    An API key provides you with a token that can identify you to the gallery. The
                    <a href="http://nuget.codeplex.com/">NuGet</a> command-line utility allows you to
                    submit a NuGet package to the gallery using your API key to authenticate.
                </p>
            }
            else
            {
                <p>
                    Your API key provides you with a token that identifies you to the gallery.
                    Keep this a secret. You can always regenerate your key at any time (invalidating
                    previous keys) if your token is accidentally revealed. The
                    <a href="http://nuget.codeplex.com/">NuGet</a> command-line utility allows you to
                    submit a NuGet package to the gallery, and you would pass your token like this:
                </p>

                <h4>Example usage:</h4>
                <p>
                    <div id="managecreds-cred-apikeysample">
                        <div>
                            nuget.exe setApiKey @apiKey.Value
                            <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                                    width="110"
                                    height="14"
                                    id="clippy"
                                    aria-hidden="true"
                                    role="presentation">
                                <param name="movie" value="@Url.Content("~/Content/clippy.swf")">
                                <param name="allowScriptAccess" value="always" />
                                <param name="quality" value="high" />
                                <param name="scale" value="noscale" />
                                <param name="FlashVars" value="text=nuget.exe setApiKey @apiKey.Value">
                                <param name="bgcolor" value="#202020">
                                <embed src="@Url.Content("~/Content/clippy.swf")"
                                       width="110"
                                       height="14"
                                       aria-hidden="true"
                                       role="presentation"
                                       name="clippy"
                                       quality="high"
                                       allowscriptaccess="always"
                                       type="application/x-shockwave-flash"
                                       pluginspage="http://www.macromedia.com/go/getflashplayer"
                                       flashvars="text=nuget.exe setApiKey @apiKey.Value"
                                       bgcolor="#202020" />
                            </object>
                        </div>
                        <div>nuget.exe push MyPackage.1.0.nupkg</div>
                    </div>
                </p>
            }
        </div>
    </li>
</ul>