@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
}

<h1 class="page-heading">Forgot Password</h1>

<p>
    We are sorry to hear you forgot your NuGet.org account password. Enter your email below and we will 
    send instructions to reset your password.
</p>

@using (Html.BeginForm())
{
    <fieldset class="form">
        <legend>Register Form</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
              
        @Html.EditorForModel()

        <img src="@Url.Content("~/Content/images/required.png")" alt="Blue border on left means required." />

        <input type="submit" value="Send" title="Send Instructions" />
        <a class="cancel" href="@Url.LogOn()" title="Cancel Changes and go back.">Cancel</a>
    </fieldset>
}