@model ManagePackagesViewModel
@{
    ViewBag.Title = "Manage My Package";
    ViewBag.Tab = "Packages";
    Layout = "~/Views/Shared/Gallery/Layout.cshtml";
}

<section role="main" class="container main-container page-manage-packages page-package-details">
    <div class="row">
        <div class="col-xs-12">
            <h1>Manage Packages</h1>
        </div>
    </div>
    @{
        var listedPackages = Model.Packages.Where(p => p.Listed);
        var unlistedPackages = Model.Packages.Where(p => !p.Listed);

        @Html.Partial("_UserPackagesList", new ManagePackagesListViewModel(listedPackages, "Published"))
        @Html.Partial("_UserPackagesList", new ManagePackagesListViewModel(unlistedPackages, "Unlisted"))
    }

    @{
        if (Model.OwnerRequests.Incoming.RequestItems.Any() || Model.OwnerRequests.Outgoing.RequestItems.Any())
        {
            <div class="row">
                <div class="col-xs-12">
                    <h1>Manage Ownership Requests</h1>
                </div>
            </div>

            @Html.Partial("_OwnerRequestsList", Model.OwnerRequests.Incoming)
            @Html.Partial("_OwnerRequestsList", Model.OwnerRequests.Outgoing)
        }
    }

    @{ 
        @Html.Partial("_ReservedNamespacesList", Model.ReservedNamespaces)
    }
</section>

@section BottomScripts {
    @Scripts.Render("~/Scripts/gallery/page-manage-packages.min.js")
}
