@model UserProfileModel
@{
    ViewBag.Title = @Model.Username;
    ViewBag.Tab = "Packages";
    Layout = "~/Views/Shared/Gallery/Layout.cshtml";
}

<section role="main" class="container main-container page-profile">
    <section role="main" class="row">
        <aside class="col-md-3 col-md-push-9 profile-details">
            @ViewHelpers.GravatarImage(Model.EmailAddress ?? Model.UnconfirmedEmailAddress, Model.Username, Constants.GravatarImageSizeLarge, responsive: true)
            <div class="statistics">
                <div class="statistic">
                    <div class="value">@Model.AllPackages.Count.ToNuGetNumberString()</div>
                    <div class="description">@(Model.AllPackages.Count == 1 ? "Package" : "Packages")</div>
                </div>
                <div class="statistic">
                    <div class="value">@Model.TotalPackageDownloadCount.ToNuGetNumberString()</div>
                    <div class="description">Total @(Model.TotalPackageDownloadCount == 1 ? "download" : "downloads") of packages</div>
                </div>
                @if (User.IsAdministrator())
                {
                    <div class="statistic">
                        <div class="value">
                            <a class="action-menu-link" href="@Url.AdminDeleteAccount(@Model.Username)">
                                <i class="icon-trash"></i>
                                <span class="action-menu-text">Delete User</span>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </aside>
        <article class="col-md-9 col-md-pull-3">
            <div class="profile-title">
                <h1>@Model.Username</h1>
            </div>

            <div class="list-packages" role="list">
                @foreach (var package in Model.PagedPackages)
                {
                    @Html.Partial("_ListPackage", package)
                }
            </div>

            @ViewHelpers.PreviousNextPager(Model.Pager)
        </article>
    </section>
</section>