@model RegisterRequest
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>New Account</h1>

<p class="long note">With your account achieve fame and glory by submitting
    your own packages. Already have an account? <a href="@Url.LogOn()">Log On.</a></p>

@using (Html.BeginForm())
{
    <fieldset class="form">
        <legend>Register Form</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.EditorForModel()

        <p id="form-field-register-policies">
            By clicking Register you agree that you have read and accept our 
                @Html.ActionLink("Terms of Use", "Terms", MVC.Pages.Name)
            and @Html.ActionLink("Privacy Policy", "Privacy", MVC.Pages.Name)
        </p>

        <img src="@Url.Content("~/content/images/required.png")" alt="Blue border on left means required." />

        <input type="submit" value="Register" title="Register" />
    </fieldset>
}