@model PasswordResetViewModel
@{
    ViewBag.Title = ViewBag.ForgotPassword ? "Reset Password" : "Set Password";
}

<h1 class="page-heading">@(ViewBag.Title)</h1>

@if (ViewBag.ForgotPassword)
{
    <p>
        We are sorry to hear you forgot your NuGet.org account password. You can reset the NuGet.org account password using the form below.
    </p>
}
else
{
    <p>
        You can set a NuGet.org account password using the form below.
    </p>
}

@using (Html.BeginForm())
{
    <fieldset class="form">
        <legend>@(ViewBag.Title)</legend>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.EditorForModel()

        <img src="@Url.Content("~/Content/images/required.png")" alt="Blue border on left means required." />
        <input type="submit" value="Set" title="Set Password" />
    </fieldset>
}