@model PasswordResetViewModel
@{
    ViewBag.Title = ViewBag.ForgotPassword ? "Reset Password" : "Set Password";
}

@if(ViewBag.ForgotPassword) {
    <h1 class="page-heading">Forgot Password</h1>

    <p>
        We are sorry to hear you forgot your NuGet.org account password. Enter your email below and we will 
        send instructions to reset your password.
    </p>
} else {
    <h1 class="page-heading">Set Password</h1>

    <p>
        You can set a NuGet.org account password using the form below.
    </p>
}

@using (Html.BeginForm())
{
    <fieldset class="form">
        <legend>@(ViewBag.ForgotPassword ? "Reset Password" : "Set Password")</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
              
        @Html.EditorForModel()

        <img src="@Url.Content("~/Content/images/required.png")" alt="Blue border on left means required." />

        <input type="submit" value="Set" title="Set Password" />
    </fieldset>
}