﻿@using Newtonsoft.Json@model TrustedPublisherListViewModel
@using NuGetGallery.Authentication
@{
    ViewBag.Title = "Trusted Publishing";
    ViewBag.MdPageColumns = GalleryConstants.ColumnsFormMd;
}

<section role="main" class="container main-container page-page-trusted-publishing">
    @ViewHelpers.AjaxAntiForgeryToken(Html)
    <div class="row">
        <div class="@ViewHelpers.GetColumnClasses(ViewBag)">
            @ViewHelpers.BreadcrumbWithProfile(Url, CurrentUser, true, @<text>Trusted Publishing</text>)
            <p>                Lorem ipsum. Trusted Publishing introduction.            </p>
            @if (!CurrentUser.Confirmed)
            {
                @ViewHelpers.AlertWarning(
                    @<text>
                        To register a Trusted Publisher you will need to
                        <a href="@Url.ConfirmationRequired()">confirm your account</a>.
                    </text>)
            }
            else
            {
                <div data-bind="template: 'error-container'"></div>

                @ViewHelpers.Section(this,
                    "create",
                    "Create",
                    @<text>
                        <div class="upsert-trusted-publisher">
                            <div class="panel-body" data-bind="template: { name: 'upsert-trusted-publisher', data: NewTrustedPublisher }"></div>
                        </div>
                    </text>,
              expanded: false,
              expandedIcon: "Subtraction",
              collapsedIcon: "Add")

                @ViewHelpers.Section(this,
                    "manage",
                    "Manage",
                    @<text>
                        <div data-bind="template: 'manage-trusted-publishers'"></div>
                    </text>)
            }
        </div>
    </div>
</section>

<script type="text/html" id="error-container" nonce="@Html.GetCSPNonce()">
    <!-- ko if: Error -->
    @ViewHelpers.AlertDanger(@<text>
        <span data-bind="html: Error"></span>
    </text>)
    <!-- /ko -->
</script>

<script type="text/html" id="manage-trusted-publishers" nonce="@Html.GetCSPNonce()">
    <div data-bind="template: { name: 'trusted-publisher-details', foreach: TrustedPublishers }">
    </div>
    <!-- ko if: TrustedPublishers().length === 0 -->
    @ViewHelpers.AlertInfo(
                @<text>You don't have any Trusted Publishers.</text>)
    <!-- /ko -->
</script>

<script type="text/html" id="trusted-publisher-details" nonce="@Html.GetCSPNonce()">    <div class="trusted-publisher-details">        <div class="row">            <div class="col-sm-1">                <img class="package-icon img-responsive" aria-hidden="true" alt="" data-bind="attr: { src: IconUrl, onerror: IconUrlFallback }" />            </div>            <div class="col-sm-11">                <!-- Common properties -->                <h3 data-bind="text: Description" />                <br />                <b>Package owner:</b> <span data-bind="text: Owner" />                <ul class="package-list">                    <li>                        <b>Publisher:</b> <span data-bind="text: PublisherName" />                    </li>                    <!-- ko if: PublisherName() === 'GitHub' -->                    <li>                        <b>Repository Owner:</b> <span data-bind="text: GitHub_RepositoryOwner" />                        (#<span data-bind="text: GitHub_RepositoryOwnerId" /> <a>?</a>)                    </li>                    <li>                        <b>Repository:</b> <span data-bind="text: GitHub_Repository" />                        (#<span data-bind="text: GitHub_RepositoryId" /> <a>?</a>)                    </li>                    <li>                        <b>Workflow:</b> <span data-bind="text: GitHub_WorkflowFile" />                    </li>                    <!-- ko if: GitHub_Environment -->                    <li>                        <b>Environment:</b> <span data-bind="text: GitHub_Environment" />                    </li>                    <!-- /ko -->                    <!-- ko if: GitHub_Branch -->                    <li>                        <b>Branch:</b> <span data-bind="text: GitHub_Branch" />                    </li>                    <!-- /ko -->                    <!-- ko if: GitHub_Tag -->                    <li>                        <b>Tag:</b> <span data-bind="text: GitHub_Tag" />                    </li>                    <!-- /ko -->                    <!-- /ko -->                </ul>                <ul class="package-list" role="presentation">                    <li>                        <a class="icon-link" href="#" role="button" data-bind="click: Edit">                            <i class="ms-Icon ms-Icon--Edit" aria-hidden="true" />                            <span>Edit</span>                        </a>                    </li>                    <li>                        <a class="icon-link" href="#" role="button" data-bind="click: Delete">                            <i class="ms-Icon ms-Icon--Delete" aria-hidden="true" />                            <span>Delete</span>                        </a>                    </li>                </ul>            </div>        </div>    </div>    </script>

<script type="text/html" id="upsert-trusted-publisher" nonce="@Html.GetCSPNonce()">
    <form class="upsert-form" data-bind="submit: CreateOrEdit, attr: { id: FormId }">        <!-- NO_ko ifnot: Key -->        <div class="row">            <div class="col-sm-7 form-group">                <label class="control-label required" data-bind="attr: { for: DescriptionId,                                          id: DescriptionId() + '-label' }">Name</label>                <input type="text" class="form-control input-brand"                       data-bind="attr: { id: DescriptionId,                                          name: DescriptionId,                                          'aria-labelledby': DescriptionId() + '-label ' + DescriptionId() + '-validation-message' },                                  value: PendingDescription"                       data-val-required="Description is required." data-val="true" />                <span class="field-validation-valid help-block"                      data-valmsg-replace="true"                      data-bind="attr: { 'data-valmsg-for': DescriptionId,                                         id: DescriptionId() + '-validation-message' }"></span>                <span class="help-block">Name of the Trusted Publisher record</span>            </div>        </div>        <div class="row">            <div class="col-sm-7 form-group">                <label class="required" data-bind="attr: { for: PackageOwnerId,                                            id: PackageOwnerId() + '-label' }">Package Owner</label>                <select class="form-control select-brand"                        aria-required="true"                        data-bind="attr: { id: PackageOwnerId,                                                  name: PackageOwnerId,                                                  'aria-labelledby': PackageOwnerId() + '-label' },                                          options: PackageOwners, value: PackageOwner, optionsText: 'Owner', optionsCaption: 'Select an owner...' "></select>                <div class="has-error-brand">                    <span class="field-validation-valid help-block"                          data-bind="text: PackageOwner() ?  '' : 'Package owner should be provided.'" aria-live="polite" role="alert"></span>                </div>            </div>        </div>        <h4><b>GitHub</b></h4>        <br />        <!-- GitHub specific fields -->        <div class="row">            <div class="col-sm-7 form-group">                <label class="control-label required" for="repository-owner">Repository Owner</label>                <input type="text" class="form-control input-brand" id="repository-owner" name="repository-owner"                       data-bind="value: GitHub_RepositoryOwner"                       data-val-required="The repository owner is required." data-val="true" />                <span class="field-validation-valid help-block"                      data-valmsg-replace="true"                      data-valmsg-for="repository-owner"></span>                <span class="help-block">The GitHub organization or owner name. Example: <span class="example-text">Azure</span></span>            </div>        </div>        <div class="row">            <div class="col-sm-7 form-group">                <label class="control-label required" for="repository">Repository</label>                <input type="text" class="form-control input-brand" id="repository" name="repository"                       data-bind="value: GitHub_Repository"                       data-val-required="The repository name is required." data-val="true" />                <span class="field-validation-valid help-block"                      data-valmsg-replace="true"                      data-valmsg-for="repository"></span>                <span class="help-block">The GitHub repository name. Example: <span class="example-text">azure-sdk-tools</span></span>            </div>        </div>        <div class="row">            <div class="col-sm-7 form-group">                <label class="control-label required" for="workflow-file">Workflow File</label>                <input type="text" class="form-control input-brand" id="workflow-file" name="workflow-file"                       data-bind="value: GitHub_WorkflowFile"                       data-val-required="The workflow file path is required."                       data-val-regex="Invalid workflow file path. Must be a valid file path in the .github/workflows directory."                       data-val-regex-pattern="^[\w_.-\/]+\.ya?ml$"                       data-val="true" />                <span class="field-validation-valid help-block"                      data-valmsg-replace="true"                      data-valmsg-for="workflow-file"></span>                <span class="help-block">                    The file name that contains publishing workflow and exists in the                    <span class="example-text">.github/workflows/</span> directory. Example:                    <span class="example-text">build.yml</span> or                    <span class="example-text">deploy/release.yaml</span>                </span>            </div>        </div>        <div class="row">            <div class="col-sm-7 form-group">                <label for="environment">Environment</label>                <input type="text" class="form-control input-brand" id="environment" name="environment"                       data-bind="value: GitHub_Environment" />                <span class="help-block">The <a href="https://docs.github.com/en/actions/managing-workflow-runs-and-deployments/managing-deployments/managing-environments-for-deployment">GitHub Actions environment</a> name that is used to publish packages.</span>            </div>        </div>        <div class="collapsible-example">            <button type="button" class="btn btn-link collapsible-example-toggle" aria-expanded="false">                <span>GitHub Actions YAML example</span>                <i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>            </button>            <div class="collapsible-example-content" style="display: none;">                <div class="code-container" style="position: relative;">                    <button type="button" class="btn btn-link copy-button" style="position: absolute; top: 10px; right: 10px;">                        <i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i> Copy                    </button>                    <pre class="example-code">@Strings.TrustedPublisher_UsageExample_GitGub.Replace("%USER_NAME%", Model.Username)</pre>                </div>            </div>        </div>        <br/>        <!-- NO_/ko -->        <div class="row">            <div class="col-sm-6 form-group">                <input type="submit" class="btn btn-brand btn-block"                       data-bind="enable: !PendingCreateOrEdit(),                                  attr: { value: Key() ? 'Save' : 'Create' }" />            </div>            <div class="col-sm-6 form-group">                <button data-bind="attr: { 'data-target': '#' + EditContainerId(),                                           'aria-controls': EditContainerId(),                                           id: CancelEditId },                                   enable: !PendingCreateOrEdit(),                                   click: CancelEdit"                        class="btn btn-brand-secondary btn-block">                    Cancel                </button>            </div>        </div>    </form>
</script>

@section bottomScripts {
    <script type="text/javascript" nonce="@Html.GetCSPNonce()">
        var initialData = @Html.ToJson(new
                     {
                         TrustedPublishers = Model.TrustedPublishers,
                         PackageOwners = Model.PackageOwners,
                         RemoveUrl = Url.RemoveFederatedCredential(),
                         EditUrl = Url.EditCredential(),
                         GenerateUrl = Url.GenerateApiKey(),
                         ImageUrls = new {
                             TrustedPublisher = Url.Absolute("~/Content/gallery/img/trusted-publisher.svg"),
                             TrustedPublisherFallback = Url.Absolute("~/Content/gallery/img/trusted-publisher-256x256.png"),
                         }
                     });
    </script>
    @Scripts.RenderFormat("<script src=\"{0}\" nonce='" + @Html.GetCSPNonce().ToString() + "'></script>", "~/Scripts/gallery/page-trusted-publishing.min.js");
}
