@using Newtonsoft.Json
@model TrustedPublisherPolicyListViewModel
@using NuGetGallery.Authentication
@{
    ViewBag.Title = "Trusted Publishing";
    ViewBag.MdPageColumns = GalleryConstants.ColumnsFormMd;
    var fromApiKeys = Request.QueryString["fromApiKeys"] == "true";
}

<section role="main" class="container main-container page-trusted-publishing">
    @ViewHelpers.AjaxAntiForgeryToken(Html)
    <div class="row">
        <div class="@ViewHelpers.GetColumnClasses(ViewBag)">
            @ViewHelpers.BreadcrumbWithProfile(Url, CurrentUser, true, @<text>Trusted Publishing</text>)

            @if (fromApiKeys)
            {
                @ViewHelpers.Alert(
                            @<text>
                                If you still want to visit the API Keys page, <a href="@(Url.ManageMyApiKeys() + "?forceApiKeys=true")">click here</a>.
                            </text>,
                 "info", icon: null)
            }

            <p>
                <strong>Trusted Publishing</strong> lets you publish NuGet packages securely without managing API keys.
                It currently supports publishing from <strong>GitHub Actions</strong>.
                <a href="https://aka.ms/nuget/trusted-publishing"
                   target="_blank" aria-label="Learn more about Trusted Publishing">Learn more</a>
            </p>

            @if (!CurrentUser.Confirmed)
            {
                @ViewHelpers.AlertWarning(
                                        @<text>
                                            To register a Trusted Publisher you will need to
                                            <a href="@Url.ConfirmationRequired()">confirm your account</a>.
                                        </text>)
            }
            else
            {
                <div data-bind="template: 'error-container'"></div>

                if (Model.PackageOwners == null || Model.PackageOwners.Count == 0)
                {
                    @ViewHelpers.AlertInfo(
                                        @<text>
                                            You or one of the organizations you are a member of need to be an owner of at least one package to create Trusted Publishing policies.
                                        </text>)
                }
                else
                {
                    @ViewHelpers.Section(this,
                                      "create",
                                      "Create",
                                        @<text>
                                            <div class="upsert-policy">
                                                <div class="panel-body" data-bind="template: { name: 'upsert-policy', data: NewPolicy }"></div>
                                            </div>
                                        </text>,
                     expanded: false,
                     expandedIcon: "Subtraction",
                     collapsedIcon: "Add")
                }

                @ViewHelpers.Section(this,
                                        "manage",
                                        "Manage",
                                        @<text>
                                            <div data-bind="template: 'manage-policies'"></div>
                                        </text>)
            }
        </div>
    </div>
</section>
