@model ReservedNamespaceViewModel
@{
    ViewBag.Title = "Index";
}

@ViewHelpers.AjaxAntiForgeryToken(Html)

<section>
    <article id="stage">
        <div class="message" style="display: none" data-bind="text: message, visible: message"></div>
        <h2>Reserve Namespace</h2>
        <form>
            <div class="form-horizontal">
                <input type="text" placeholder="Search for a prefix" autocomplete="off" autofocus data-bind="value: prefixSearchQuery" />
                <input type="button" value="Search Prefix" title="Search Prefix" data-bind="click: prefixSearch" />
            </div>
        </form><br />

        <div data-bind="visible: allPrefixResults().length > 0">
            @using (Html.BeginForm())
            {
                <div>
                    <div id="prefixResult" data-bind="foreach: allPrefixResults">
                        <div>
                            <span style="font-weight: bold">Namespace: </span>
                            <span data-bind="text: $data.prefix.Value" />
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" data-bind="checked: $data.prefix.IsSharedNamespace" />IsSharedNamespace
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" data-bind="checked: $data.prefix.IsPrefix" value="IsPrefix"/>IsPrefix
                            </label>
                        </div>
                        <div>
                            <span style="font-weight: bold">Matching Pattern: </span>
                            <span data-bind="text: $parent.generatePattern($data.prefix.Value, $data.prefix.IsPrefix)" />
                        </div>
                        <div>
                            Owners:
                            <div id="prefixOwners" data-bind="foreach: $data.owners">
                                <div>
                                    <span data-bind="text: $data" />
                                    <input type="button" value="Remove" title="Remove this owner" data-bind="click:$parent.removeOwner.bind(this, $data, null)" />
                                </div>
                            </div>
                        </div>
                        <input style="margin-top: 5px" type="submit" value="Deallocate Namespace" title="Delete this namespace" data-bind="click: $parent.managePrefix.bind(this, $data.prefix, true)" />
                    </div>
                </div>
            }
        </div>
    </article>

</section>

@section BottomScripts {
    <script src="@Url.Content("~/Scripts/knockout-2.2.1.js")"></script>
    <script>
        $(document).ready(function () {
            var viewModel = function () {
                var $self = this;

                this.message = ko.observable('');
                this.prefixSearchQuery = ko.observable('');

                this.allPrefixResults = ko.observableArray([]);
                this.prefixSearch = function () {
                    $self.message("");
                    $.ajax({
                        url: '@Url.Action("SearchPrefix", "ReservedNamespace", new {area = "Admin"})?query=' + encodeURIComponent($self.prefixSearchQuery()),
                        cache: false,
                        dataType: 'json',
                        success: function (data) {
                            $self.allPrefixResults.removeAll();

                            $self.allPrefixResults(data.Prefixes);
                        }
                    })
                    .error(function(jqXhr, textStatus, errorThrown) {
                        alert("Error: " + errorThrown);
                    });
                };

                this.managePrefix = function (data, remove) {
                    console.log(data);
                    var prefixToAdd = data;
                    var url = remove
                        ? '@Url.Action("RemovePrefix", "ReservedNamespace", new { area = "Admin" })'
                        : '@Url.Action("AddPrefix", "ReservedNamespace", new { area = "Admin" })'
                    $self.message("");
                    $.ajax({
                        url: url,
                        cache: false,
                        dataType: 'json',
                        type: 'POST',
                        data: JSON.stringify(prefixToAdd),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            console.log("Added prefix");
                        }
                    })
                    .error(function (jqXhr, textStatus, errorThrown) {
                        alert("Error: " + errorThrown);
                    });
                };

                this.removeOwner = function (owner, prefix) {
                    var obj = {
                        prefix: prefix,
                        owner: owner,
                        action: "remove"
                    };

                    $self.message("");
                    $.ajax({
                        url: '@Url.Action("Update", "ReservedNamespace", new { area = "Admin" })',
                        cache: false,
                        dataType: 'json',
                        type: 'POST',
                        data: JSON.stringify(obj),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            console.log("Owner updated!");
                        }
                    })
                    .error(function (jqXhr, textStatus, errorThrown) {
                        alert("Error: " + errorThrown);
                    });
                };

                this.generateValue = function (user, subscription) {
                    return JSON.stringify({ "u": user.Username, "g": subscription, "v": user.Selected[subscription]() })
                };

                this.generateUserUrl = function (user) {
                    return '/profiles/' + user.Username;
                };

                this.generatePattern = function (value, isPrefix) {
                    return isPrefix ? value + "*" : value;
                };
            };

            ko.applyBindings(new viewModel(), $('#stage').get(0));
        });
    </script>
}