@model NuGetGallery.Areas.Admin.Models.Issue

<h1>
    @ViewBag.Title
</h1>

@if (Model != null)
{
    <h2>Edit</h2>
    using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.OwnerEmail)
    @Html.HiddenFor(model => model.PackageID)
    @Html.HiddenFor(model => model.PackageVersion)
    @Html.HiddenFor(model => model.SiteRoot)
    @Html.HiddenFor(model => model.Reason)
    @Html.HiddenFor(model => model.CreatedBy)
    @Html.HiddenFor(model => model.CreatedDate)
    @Html.HiddenFor(model => model.AssignedTo)
    @Html.HiddenFor(model => model.IssueStatus)
    @Html.HiddenFor(model => model.Details)
    @Html.HiddenFor(model => model.IssueTitle)

    <input type="hidden" name="AssignedToFilter" value=@Session["AssignedToFilter"] />
    <input type="hidden" name="IssueStatusNameFilter" value=@Session["IssueStatusNameFilter"] />
    <input type="hidden" name="ReasonFilter" value=@Session["ReasonFilter"] />
    <input type="hidden" name="StatusId" value=@Session["StatusId"] />
    <input type="hidden" name="Page" value=@Session["PageNumber"] />

    <div class="tab-pane active" id="edit-item">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>@Html.DisplayFor(model => model.IssueTitle)</strong></h3>
            </div>
            <div class="panel-heading">
                <h3 class="label" style="font-size: large; color: black"><strong>@ViewBag.AssignedTo, @ViewBag.IssueStatus</strong></h3>
            </div>

            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" style="">
                        <div class="row">
                            <span>@Html.DisplayFor(model => model.Details)</span>
                        </div>
                        <div class="row">
                            <div class="col-md-10">

                                <span class="label" style="background-color: #CCCCCC; color: #000000">@Html.DisplayFor(model => model.CreatedBy)</span>
                                <span class="label" style="background-color: #159818; color: #ffffff">@Html.DisplayFor(model => model.CreatedDate)</span>
                                <span class="label" style="background-color: #d59b9b; color: #000000">@Html.DisplayFor(model => model.Reason)</span>
                                <span class="badge pull-right" style="background-color: #ffd800; color: #ffffff">@Html.DisplayFor(model => model.OwnerEmail)</span>

                                <span class="badge pull-right" style="margin-left: 4px">@Html.DisplayFor(model => model.PackageID)</span>
                                <span class="badge pull-right" style="margin-left: 4px">@Html.DisplayFor(model => model.PackageVersion)</span>
                            </div>
                        </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Comments, new { @cols = 70, @rows = 10 })
            @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-sm" />
        </div>
    </div>

    }
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}