 @* Generator: MvcHelper *@

@using System.Linq;
@using System.Collections;
@using NuGetGallery;

@helper PreviousNextPager(IPreviousNextPager pager) {
    if (pager.HasNextPage || pager.HasPreviousPage) {
        <ul class="group pager">        
            <li class="page-previous">
                @if (pager.HasPreviousPage) { 
                    <a href="@pager.PreviousPageUrl">Previous</a>
                }
                else {
                    <span>Previous</span>
                }
            </li>
            <li class="page-next">
                @if (pager.HasNextPage) { 
                    <a href="@pager.NextPageUrl">Next</a>
                }
                else {
                    <span>Next</span>
                }
            </li>
        </ul>
    }
}

@helper Option(string value, string label, string currentValue) {
    <option value="@value" @if (value == currentValue) {<text>selected="selected"</text>}>@label</option>    
}

@helper UploadSequence(int currentStep) {
    @SequenceStep(1, "Upload", currentStep)
    @SequenceStep(2, "Verify Details", currentStep)
}

@helper SequenceStep(int step, string caption, int currentStep) {
    if (currentStep == step) {
        <li class="current"><a href="#"><span>@step </span>@caption</a></li>
    }
    else {
        <li><span>@step </span>@caption</li>
    }    
}

@helper OwnersGravatar(IEnumerable<User> owners, int size, UrlHelper url, bool showName = true) {
    foreach (var owner in owners) {
        <div class="owner-gravatar">@ViewHelpers.OwnerGravatar(owner, size, url, showName)</div>
    }    
}

@helper OwnerGravatar(User owner, int size, UrlHelper url, bool showName = true) {
    <a href="@url.Action(MVC.Users.Profiles(owner.Username))" title="@owner.Username">
        @GravatarImage(owner.EmailAddress, owner.Username, size)
        @if (showName) {
            <span class="owner-name">@owner.Username</span>
        }
    </a>    
}

@helper GravatarImage(string email, string username, int size) {
    <text>
    @Gravatar.GetHtml(email, size, "retro", GravatarRating.G, attributes: new { width = size, height = size, title = username, @class = "gravatar"})
    </text>
}