<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <span class="footer-heading"><a href="@Url.Contact()">Contact</a></span>
                <p>
                    Got questions about NuGet or the NuGet Gallery?
                </p>
            </div>
            <div class="col-sm-4">
                <span class="footer-heading"><a href="@this.Config.Current.ExternalStatusUrl">Status</a></span>
                <p>
                    Find out the service status of NuGet.org and its related services.
                </p>
            </div>
            <div class="col-sm-4">
                <span class="footer-heading">
                    <a aria-label="Frequently Asked Questions" href="@GalleryConstants.FAQLinks.NuGetFAQ">
                        <abbr title="Frequently Asked Questions">FAQ</abbr>
                    </a>
                </span>
                <p>
                    Read the Frequently Asked Questions about NuGet and see if your question made the list.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 row-gap">
                <div class="nuget-logo-footer" alt="NuGet home" role="img" aria-label="NuGet Home" @ViewHelpers.ImageFallback(Url.Absolute("~/Content/gallery/img/logo-footer-184x57.png"))></div>
            </div>
            <div class="col-md-9 row-gap">
                <div class="row">
                    @if (!String.IsNullOrEmpty(this.Config.Current.ExternalBrandingMessage) ||
                        !String.IsNullOrEmpty(this.Config.Current.ExternalBrandingUrl) ||
                        !String.IsNullOrEmpty(this.Config.Current.ExternalAboutUrl) ||
                        !String.IsNullOrEmpty(this.Config.Current.ExternalTermsOfUseUrl) ||
                        !String.IsNullOrEmpty(this.Config.Current.ExternalPrivacyPolicyUrl))
                    {
                        <div class="col-md-12 footer-release-info">
                            <p>
                                @if (!String.IsNullOrEmpty(this.Config.Current.ExternalBrandingMessage))
                                {
                                    if (!String.IsNullOrEmpty(this.Config.Current.ExternalBrandingUrl))
                                    {
                                        @:<a href="@this.Config.Current.ExternalBrandingUrl">@this.Config.Current.ExternalBrandingMessage</a> -
                                    }
                                    else
                                    {
                                        @:@(this.Config.Current.ExternalBrandingMessage) -
                                    }
                                }

                                <a href="@Url.About()">About</a> -
                                <a href="@Url.Terms()">Terms of Use</a> -
                                <a href="@Url.Privacy()" id="footer-privacy-policy-link">Privacy Statement</a>
                                @if (!String.IsNullOrEmpty(this.Config.Current.TrademarksUrl))
                                {
                                    @:- <a href="@this.Config.Current.TrademarksUrl">Trademarks</a>
                                }
                                <br />
                            </p>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-1 footer-dotnet-foundation-logo">
                            <a href="https://www.dotnetfoundation.org">
                                <img width="42" height="42" alt=".NET Foundation website"
                                     src="~/Content/gallery/img/dotnet-foundation.svg"
                                     @ViewHelpers.ImageFallback(Url.Absolute("~/Content/gallery/img/dotnet-foundation-42x42.png")) />
                            </a>
                        </div>

                        <div class="col-md-11 footer-release-info">
                            <p>
                                &copy; @DateTime.UtcNow.Year .NET Foundation -
                                <a href="@Url.About()">About</a> -
                                <a href="@Url.Terms()">Terms of Use</a> -
                                <a href="@Url.Privacy()" id="footer-privacy-policy-link">Privacy Policy</a>
                                @if (!String.IsNullOrEmpty(this.Config.Current.TrademarksUrl))
                                {
                                    @:- <a href="@this.Config.Current.TrademarksUrl">Trademarks</a>
                                }
                                <br />
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
@ViewHelpers.ReleaseTag()
</footer>
