<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4><a href="@Url.Contact()">Contact</a></h4>
                <p>
                    Got questions about NuGet or the NuGet Gallery?
                </p>
            </div>
            <div class="col-sm-4">
                <h4><a href="https://status.nuget.org/">Status</a></h4>
                <p>
                    Find out the service status of NuGet.org and its related services.
                </p>
            </div>
            <div class="col-sm-4">
                <h4>
                    <a href="https://docs.microsoft.com/en-us/nuget/policies/nuget-faq">
                        <abbr title="Frequently Asked Questions">FAQ</abbr>
                    </a>
                </h4>
                <p>
                    Read the Frequently Asked Questions about NuGet and see if your question made the list.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 row-gap">
                <img alt="" aria-hidden="true" width="184" height="55"
                     src="~/Content/gallery/img/logo.svg"
                     @ViewHelpers.ImageFallback(Url.Absolute("~/Content/gallery/img/logo-184x55.png")) />
            </div>
            <div class="col-md-9 row-gap">
                <div class="row">
                    <div class="col-md-1 footer-dotnet-foundation-logo">
                        <a href="https://www.dotnetfoundation.org">
                            <img width="36" height="34" alt=".NET Foundation website"
                                 src="~/Content/gallery/img/dotnet-foundation.svg"
                                 @ViewHelpers.ImageFallback(Url.Absolute("~/Content/gallery/img/dotnet-foundation-36x34.png")) />
                        </a>
                    </div>
                    <div class="col-md-11 footer-release-info">
                        <p>
                            &copy; @DateTime.UtcNow.Year .NET Foundation -
                            <a href="@Url.About()">About the Gallery</a> -
                            <a href="@Url.Terms()">Terms of Use</a> -
                            <a href="@Url.Privacy()">Privacy Policy</a>
                            <br />
                            Deployed using <a href="https://octopus.com/" target="referral">Octopus Deploy</a>
                        </p>
                        @ViewHelpers.ReleaseTag()
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
