<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4><a href="@Href("~/policies/Contact")">Contact</a></h4>
                <p>
                    Got questions about NuGet or the NuGet Gallery?
                </p>
            </div>
            <div class="col-md-4">
                <h4><a href="https://status.nuget.org/">Status</a></h4>
                <p>
                    Find out the service status of NuGet.org and its related services.
                </p>
            </div>
            <div class="col-md-4">
                <h4><a href="https://docs.microsoft.com/en-us/nuget/policies/nuget-faq">FAQ</a></h4>
                <p>
                    Read the Frequently Asked Questions about NuGet and see if your question made the list.
                </p>
            </div>
        </div>
        <div class="row row-gap">
            <div class="col-md-3">
                <img src="~/Content/gallery/img/logo-184x53.png" alt="Larger NuGet logo in the page footer" />
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-1 text-right">
                        <a title=".NET Foundation" href="https://www.dotnetfoundation.org"><img src="~/Content/gallery/img/dotnet-foundation-32x30.png" alt="Logo of the .NET Foundation in the page footer" /></a>
                    </div>
                    <div class="col-md-11">
                        <p>
                            &copy; @DateTime.UtcNow.Year .NET Foundation -
                            <a href="@Url.Action("Terms", "Pages")">Terms of Use</a> -
                            <a href="@Url.Action("Privacy", "Pages")">Privacy Policy</a> -
                            <a href="@Url.Action("About", "Pages")">About the Gallery</a>
                            <br />
                            Deployed using <a href="https://octopus.com/" target="referral">Octopus Deploy</a>
                        </p>
                        @ViewHelpers.ReleaseTag()
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
