<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @if (Config.Current.BlockSearchEngineIndexing || ViewBag.BlockSearchEngineIndexing == true)
    {
        <meta name="robots" content="noindex">
    }
    @RenderSection("SocialMeta", required: false)
    @RenderSection("Meta", required: false)

    <title>
        @(Config.Current.Brand)
        @(String.IsNullOrWhiteSpace(ViewBag.Title) ? "" : "| " + ViewBag.Title)
    </title>

    <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    @if (LinkOpenSearchXml)
    {
        <link title="NuGet.org" type="application/opensearchdescription+xml" href="@Url.Content("~/opensearch.xml")" rel="search">
    }

    @Styles.Render("~/Content/gallery/css/site.min.css")

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    @RenderSection("TopStyles", required: false)

    @ViewHelpers.AnalyticsScript()
    @RenderSection("TopScripts", required: false)
    @ViewHelpers.ReleaseMeta()
    @ViewHelpers.InstrumentationScript()
</head>
<body>
    @Html.Partial("Gallery/Header")
    <div id="skippedToContent">
    @RenderBody()
    </div>
    @ViewHelpers.UsabillaButton(Url)
    @Html.Partial("Gallery/Footer")
    @Scripts.Render("~/Scripts/gallery/site.min.js")
    @RenderSection("BottomScripts", required: false)
    @if (CookieConsentMessage != null)
    {
        foreach (var cookieScript in CookieConsentMessage.Javascripts)
        {
            <script src="@cookieScript"></script>
        }
    }
    @ViewHelpers.UsabillaScript()
</body>
</html>
