@if (ViewData.TemplateInfo.TemplateDepth > 1)
{
    @ViewData.ModelMetadata.SimpleDisplayText
}
else
{
    foreach (var prop in ViewData.ModelMetadata.Properties.Where(pm => pm.ShowForEdit && !ViewData.TemplateInfo.Visited(pm)))
    {
        if (prop.HideSurroundingHtml)
        {
            @Html.Editor(prop.PropertyName)
        }
        else
        {
            var className = String.Empty;
            if (ViewData.ModelState[prop.PropertyName] != null && ViewData.ModelState[prop.PropertyName].Errors != null && ViewData.ModelState[prop.PropertyName].Errors.Count > 0)
            {
                className = "invalid";
            }
            <div class="form-field @className">
                @Html.Label(prop.PropertyName)
                @Html.Editor(prop.PropertyName)
                
                @Html.ValidationMessage(prop.PropertyName)
                
                @if (prop.AdditionalValues.ContainsKey("Hint"))
                {
                    <span class="field-hint-message">@prop.AdditionalValues["Hint"]</span>
                }
                @if (prop.AdditionalValues.ContainsKey("Subtext"))
                {
                    <div class="field-subtext-message">@prop.AdditionalValues["Subtext"]</div>
                }
                
            </div>
        }
    }
}
