@*Copyright (c) .NET Foundation. All rights reserved.
Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information.*@

@model NuGetGallery.Areas.Admin.Models.Admin

<link href="~/Content/bootstrap.css" rel="stylesheet" />


<h2>Delete Admin from Support Request DB</h2>


@{
    <b class="error">
        @ViewBag.DeleteMessage
    </b>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
           <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>
        <input type="hidden" name="GalleryUserName" value="default" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/bootstrap.js")
}