<div class="statistics-sidebar">

    <form id="dimension-form">
        <table class="statistics-dimensions-table">
            @foreach (var item in Model.Dimensions)
            {
                <tr>
                    <td>
                        @item.DisplayName
                    </td>
                    <td>
                        @if (item.IsChecked)
                        {
                            <input class="dimension-checkbox" name="groupby" value="@item.Value" type="checkbox" checked>
                        }
                        else
                        {
                            <input class="dimension-checkbox" name="groupby" value="@item.Value" type="checkbox">
                        }
                    </td>
                </tr>
            }
        </table>
    </form>

</div>
<div class="statistics-data">

    @if (Model.Table != null)
    {
        <table class="sexy-table">
            <thead>
                <tr>
                    @foreach (var column in Model.Columns)
                    {
                        var id = column + "-column";
                        
                        <th class="dimension-column" id="@id">@column</th>
                    }
                    <th>Downloads</th>
                </tr>
            </thead>
            <tbody>
            @{
                foreach (var row in Model.Table)
                {
                    <tr>

                    @foreach (var entry in row)
                    {
                        if (entry != null)
                        {
                            if (entry.Rowspan > 1)
                            {
                                <td rowspan="@entry.Rowspan" style="vertical-align:top">
                                    @if (entry.Uri == null)
                                    {
                                        @entry.Data
                                    }
                                    else
                                    {
                                        <a href="@entry.Uri">@entry.Data</a>
                                    }
                                </td>
                            }
                            else
                            {
                                <td>
                                    @if (entry.Uri == null)
                                    {
                                        @entry.Data
                                    }
                                    else
                                    {
                                        <a href="@entry.Uri">@entry.Data</a>
                                    }
                                </td>
                            }
                        }
                    }

                    </tr>
                }
            }
            </tbody>
        </table>
    }

    <div class="statistics-total-div">
        <span class="statistics-total">Total:@Model.Total</span>
    </div>
</div>
