<div class="statistics-pivot" id="@Model.Id">

    <div class="statistics-sidebar">

        <form id="dimension-form">
            <table class="statistics-dimensions-table">
            @foreach (var item in Model.Dimensions)
            {
                <tr>
                    <td>
                        <label for="checkbox-@item.Value">@item.DisplayName</label>
                    </td>
                    <td>
                        <input id="checkbox-@item.Value" class="dimension-checkbox" name="groupby" value="@item.Value" type="checkbox" checked="@item.IsChecked">
                    </td>
                </tr>
            }
            </table>
        </form>

    </div>

    <div class="statistics-data">

        @if (Model.Table != null)
        {
            <table class="pivot-table">
                <thead>
                    <tr>
                        @foreach (var column in Model.Columns)
                        {
                            var id = column + "-column";
                        
                            <th scope="col" class="dimension-column">@column</th>
                        }
                        <th scope="col">Downloads</th>
                    </tr>
                </thead>
                <tbody>
                @{
                    foreach (var row in Model.Table)
                    {
                        <tr>

                        @foreach (var entry in row)
                        {
                            if (entry != null)
                            {
                                var entryClass = entry.IsNumeric ? "statistics-number" : "";
                                
                                if (entry.Rowspan > 1)
                                {
                                    <td class="@entryClass" rowspan="@entry.Rowspan" style="vertical-align:top">
                                        @if (entry.Uri == null)
                                        {
                                            @entry.Data
                                        }
                                        else
                                        {
                                            <a href="@entry.Uri">@entry.Data</a>
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td class="@entryClass">
                                        @if (entry.Uri == null)
                                        {
                                            @entry.Data
                                        }
                                        else
                                        {
                                            <a href="@entry.Uri">@entry.Data</a>
                                        }
                                    </td>
                                }                            
                            }
                        }

                        </tr>
                    }
                }
                </tbody>
            </table>
        }

        <div class="statistics-total-div">
            <span class="statistics-total">Total: @Model.Total</span>
        </div>

    </div>

</div>
