@model StatisticsPackagesViewModel
@{
    ViewBag.Title = "Package Downloads for " + Model.PackageId + "/" + Model.PackageVersion;
    ViewBag.Tab = "Statistics";
}

<h2>Package Downloads for <a href="@Url.Package(Model.PackageId, Model.PackageVersion)">@Model.PackageId @Model.PackageVersion</a> (Over the Last 6 Weeks)</h2>
@if (Model.IsReportAvailable)
{
<table class="sexy-table">
    <thead>
        <tr>
            <th class="first">Client</th><th>Operation</th><th>Downloads</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Report.Rows)
    {
        <tr>
            <td>@item.Client</td>
            <td>@item.Operation</td>
            <td>@item.Downloads</td>
        </tr>
    }
        <tr>
            <td><span class="statistics-total">Total:</span></td>
            <td><span class="statistics-total">@Model.Report.Total</span></td>
        </tr>
    </tbody>
</table>
}
else
{
    <p>
        Download statistics are not currently available for this package, please check back later. 
    </p>
}
