@model StatisticsPackagesViewModel
@{
    ViewBag.Title = "Package Download Statistics";
    ViewBag.Tab = "Statistics";
}

<h2>Most Downloaded Packages (Top 100 Over the Last 6 Weeks)</h2>
<table class="sexy-table">
    <thead>
        <tr>
            <th></th><th class="first">Package</th><th>Downloads</th>
        </tr>
    </thead>
    <tbody>
    @{
        var index = 0;
        
        foreach (var item in Model.DownloadPackagesAll)
        {
            index++;
            
            <tr>
                <td class="statistics-rank">@index</td>
                <td><a href="@Url.Package(item.PackageId)">@item.PackageId</a></td>
                <td><a href="@Url.StatisticsPackageDownloadByVersion(item.PackageId)">@item.Downloads</a></td>
            </tr>
        }
    }
    </tbody>
</table>
