@model StatisticsPackagesViewModel
@{
    ViewBag.Title = "Package Downloads for " + Model.PackageId + "/" + Model.PackageVersion;
    ViewBag.Tab = "Statistics";
}

<h2>Package Downloads for <a href="@Url.Package(Model.PackageId, Model.PackageVersion)">@Model.PackageId @Model.PackageVersion</a> (Over the Last 6 Weeks)</h2>
@if (Model.IsReportAvailable)
{
    @Html.Partial("_PivotTable", Model.Report)
}
else
{
    <p>
        Download statistics are not currently available for this package, please check back later. 
    </p>
}
@section BottomScripts
{
    @Scripts.Render("~/Scripts/statsdimensions.js")
    <script>
        $(document).ready(groupbyNavigation);
    </script>
}
